- if user_signed_in?
  %ul
    %li
      %span
        Olá
        = current_user.name
    
    - if current_user.admin?
      %li= link_to t("actions.admin"), admin_root_path, :class => "#{ @current_tab == 'admin' ? 'active' : ''}"

    %li= link_to t("actions.my_profile"), user_path(current_user.username), :class => "#{ @current_tab == 'my_profile' ? 'active' : ''}"
    %li= link_to t("actions.share_an_offer"), new_deal_path, :class => "#{ @current_tab == 'new_deal' ? 'active' : ''}"
    %li= link_to t("actions.logout"), destroy_user_session_path
- else
  %ul
    %li
      %span Olá, seja bem-vindo
    %li= link_to t('actions.sign_up'), new_user_registration_path
    %li= link_to t('actions.sign_in'), new_user_session_path
    %li
      :plain
        <div class="fb-login-button" data-show-faces="false" data-width="100" data-max-rows="1"></div>