%ul
  / %li
  /   %a#header_search_btn{ :href => 'javascript:;', :class => "search_header_btn #{ @current_tab == 'deals' ? 'active' : ''}" }
  /     %span= t('actions.search')

  - if user_signed_in?
    %li.no_margin_top.user_options
      - if current_user.provider && !current_user.facebook_profile_picture(:square).blank?
        = link_to image_tag(current_user.facebook_profile_picture :square), user_path(current_user.username), class: 'user_menu', id: 'user_menu_link'
      - else
        = link_to image_tag(current_user.gravatar_url :size => 50), user_path(current_user.username), class: 'user_menu', id: 'user_menu_link'
      = render 'layouts/user_menu'

    %li.no_margin_top.settings
      = link_to t('strings.settings'), 'javascript:;', class: 'settings_menu', id: 'settings_menu_link'
      #settings_menu_options
        %ul
          %li.first= link_to t('strings.edit_profile'), edit_user_registration_path
          %li= link_to t('strings.invite_friends'), friends_user_path(current_user.username)
          %li= link_to t('strings.help'), help_path
          %li.last= link_to t('strings.logout'), destroy_user_session_path
  - else
    %li.no_margin_top{ style: 'padding: 0 1px;' }
      = link_to t('strings.login_with_facebook'), user_omniauth_authorize_path(:facebook), :class => "facebook_login_button", :'data-no-turbolink' => true
      = link_to t('strings.login'), new_user_session_path, class: 'login_link'