%ul
  %li
    %a{ :href => deals_path, :class => "deals_header_btn #{ @current_tab == 'deals' ? 'active' : ''}" }
      %span= t('actions.deals')

  %li
    %a{ :href => users_path, :class => "users_header_btn #{ @current_tab == 'deals' ? 'active' : ''}" }
      %span= t('actions.users')

  %li
    %a#header_search_btn{ :href => 'javascript:;', :class => "search_header_btn #{ @current_tab == 'deals' ? 'active' : ''}" }
      %span= t('actions.search')
  
  - if user_signed_in?
    %li.no_margin_top
      - if current_user.provider
        = link_to image_tag(current_user.facebook_profile_picture :square), 'javascript:;', class: 'user_menu', id: 'user_menu_link'
      - else
        = link_to image_tag(current_user.gravatar_url :size => 50), 'javascript:;', class: 'user_menu', id: 'user_menu_link'
    %li.no_margin_top.settings= link_to t('strings.settings'), 'javascript:;', class: 'settings_menu', id: 'settings_menu_link'
  - else
    %li= link_to t('strings.login_with_facebook'), user_omniauth_authorize_path(:facebook), :class => "facebook_login_button"

#search_form_div
  %form{ :id => "search_form", :action => deals_path, :method => "get", :class => "search"}
    .border-input-busca
      = text_field_tag :search, params[:search], :class => "input-tx", :placeholder => 'Pesquisa'
      %input{ :type => "submit", :value => "", :class => "submit", :id => 'search_button'}

  #search_form_div_after

- if user_signed_in?
  #user_menu_options
    %ul
      %li.first= link_to t('strings.my_profile'), user_path(current_user.username)
      %li
        = t('strings.deals')
        %span.number= current_user.deals.count
      %li
        = t('strings.following')
        %span.number= current_user.following.count
      %li
        = t('strings.followers')
        %span.number= current_user.followers.count
      %li.last
        = t('strings.credit')
        %span.credit= number_to_currency current_user.credit
  #settings_menu_options
    %ul
      %li.first= link_to t('strings.edit_profile'), edit_user_registration_path
      %li= link_to t('strings.help'), help_path
      %li.last= link_to t('strings.logout'), destroy_user_session_path