- if user_signed_in?
  %ul
    %li
      %span
        Olá
        = current_user.name
    
    - if current_user.admin?
      %li= link_to t("actions.admin"), admin_root_path, :class => "#{ @current_tab == 'admin' ? 'active' : ''}"

    %li= link_to t("actions.my_profile"), user_path(current_user.username), :class => "#{ @current_tab == 'my_profile' ? 'active' : ''}"
    %li= link_to t("actions.share_an_offer"), new_deal_path, :class => "#{ @current_tab == 'new_deal' ? 'active' : ''}"
    %li= link_to t("actions.logout"), destroy_user_session_path
- else
  %ul
    %li
      %a{ :href => deals_path, :class => "deals_header_btn #{ @current_tab == 'deals' ? 'active' : ''}" }
        %span= t('actions.deals')

    %li
      %a{ :href => users_path, :class => "users_header_btn #{ @current_tab == 'deals' ? 'active' : ''}" }
        %span= t('actions.users')

    %li
      %a{ :href => deals_path, :class => "search_header_btn #{ @current_tab == 'deals' ? 'active' : ''}" }
        %span= t('actions.search')
        
    %li= link_to t('strings.login_with_facebook'), user_omniauth_authorize_path(:facebook), :class => "facebook_login_button"