%ul
  %li
    %a{ :href => deals_path, :class => "deals_header_btn #{ @current_tab == 'deals' ? 'active' : ''}" }
      %span= t('actions.deals')

  %li
    %a{ :href => users_path, :class => "users_header_btn #{ @current_tab == 'deals' ? 'active' : ''}" }
      %span= t('actions.users')

  %li
    %a#header_search_btn{ :href => 'javascript:;', :class => "search_header_btn #{ @current_tab == 'deals' ? 'active' : ''}" }
      %span= t('actions.search')
  
  - if user_signed_in?

  - else
    %li= link_to t('strings.login_with_facebook'), user_omniauth_authorize_path(:facebook), :class => "facebook_login_button"

#search_form_div
  %form{ :id => "search_form", :action => deals_path, :method => "get", :class => "search"}
    .border-input-busca
      = text_field_tag :search, params[:search], :class => "input-tx", :placeholder => 'Pesquisa'
      %input{ :type => "submit", :value => "", :class => "submit", :id => 'search_button'}

  #search_form_div_after