#col-left
  .ttGlHome
    %h2= t('strings.resend_confirmation')

  .page-login
    %h3= t('strings.fill_fields')
    .ct-inputs-login
      = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
        %p
          = f.label :email
          %br
          = f.text_field :email, :class => 'user-senha'
        .clear
        = f.submit '', :class => 'bt-confirmar'


    = render :partial => "devise/shared/links"

#col-right
  .list-box-sidebar.sidebar-last
    .ttGlHome
      %h2 facebook
    
    %iframe{ :src => "//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fplatform&amp;width=270&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false", :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden; width:270px; height:258px;", :allowTransparency => "true" }
.clear