#sem-col
  .signup_description{ style: "height: 150px;" }
    .ttGlHome
      %h2{ style: "font-size: 33px; margin: 36px 16px; width: 220px; text-align: center;" }= t('strings.resend_confirmation')

    .ct-inputs-login
      = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
        %p
          = f.text_field :email, placeholder: t('activerecord.attributes.user.email') + ':'

        .links
          = render :partial => "devise/shared/links"

        .clear
        = f.submit '', :class => 'bt-confirmar'
        / <p class="checkbox-login"><input type="checkbox" value="" name="Checkbox"> Mantenha-me Conectado</p>

    .clear


    .clear

  .register
    %span= t('strings.not_a_member')
    = link_to 'CADASTRE-SE', new_user_registration_path