.list-comment-off
  - if comment.user.provider?
    = link_to(image_tag(comment.user.facebook_profile_picture("square")), user_path(comment.user.username))
  - else
    = link_to(image_tag(comment.user.gravatar_url(:size => 50)), user_path(comment.user.username))

  %p= comment.comment
  %span
    = link_to(comment.user.username, user_path(comment.user.username))
    em
    = l comment.created_at.to_date