#admin_menu
  %ul
    %li.left= link_to 'Usuários', admin_users_path
    %li.left= link_to 'Todas as Ofertas', admin_deals_path
    %li.left= link_to 'Ofertas Ativas', active_admin_deals_path
    %li.left= link_to 'Vendas', admin_sales_path
    %li.left= link_to 'Produtos Vendidos', admin_products_path