.left
  - if user.provider?
    = link_to(image_tag(user.facebook_profile_picture("normal"), :alt => user.username, :title => user.username), user_path(user.username), :class => "user_picture")
  - else
    = link_to(image_tag(user.gravatar_url(:size => 80), :alt => user.username, :title => user.username), user_path(user.username), :class => "user_picture")
.left
  %h3
    = link_to truncate_name(user.name, 19), user_path(user.username)
  %span
    = user.deals.count
    ofertas compartilhadas!
  .action_btn
    = link_to t('buttons.user_profile'), user_path(user.username), :class => 'btn_view_profile'