.list-conteudo.list-usuarios
  .left
    - if user.provider?
      = link_to(image_tag(user.facebook_profile_picture, :alt => user.username, :title => user.username), user_path(user.username), :class => "user_picture")
    - else
      = link_to(image_tag(user.gravatar_url, :alt => user.username, :title => user.username), user_path(user.username), :class => "user_picture")
  

  %h3= link_to user.name, user_path(user.username), :title => user.name

  %ul
    %li= t('strings.username', :username => user.username)
    %li= t('strings.x_shared_offers', :x => user.deals.length)
    %li= t('strings.following_x_users', :x => user.following.length)
    %li= t('strings.followed_by_x_users', :x => user.followers.length)
  %a{ :href => user_path(user.username), :class => "view-profile" }= t('buttons.user_profile')

/   - if user_signed_in? && current_user != user
/     .interactions
/       - if current_user.follow? user
/         .unfollow
/           = link_to I18n.t("actions.unfollow"), unfollow_user_path(user.username), :class => :unfollow
        
/       - else
/         .follow
/           = link_to I18n.t("actions.follow"), follow_user_path(user.username), :class => :follow