#col-left
  .ttGlHome
    %h2= t('strings.users')
  = render @users
  = will_paginate @users
    
#col-right
  .list-box-sidebar#busca-home
    .ttGlHome
      %h2= t('strings.search_options')
    .border-input-busca
      %form{ :action => users_path, :method => "get" }
        = text_field_tag :search, params[:search], :class => "input-tx"
        %button{ :type => "submit", :class => "submit" }
        
  .list-box-sidebar.ranking-usuarios
    .ttGlHome
      %h2= t('strings.users_with_more_deals')
    - @users_with_more_deals.each_with_index do |user, index|
      = render 'side_user', :user => user, :index => index

.clear