#col-left
  .ttGlHome
    %h2= t('strings.users_offers')

  .list-conteudo
    - @deals.each_with_index do |deal, index|
      = render :partial => 'deals/deal', :locals => {:deal => deal, :index => index, :old => false}

  
  .pagination
    = will_paginate @deals


#col-right
  .list-box-sidebar#box-user
    .ttGlHome
      %h2= @user.name
    %h3= t('strings.about_me')
    .left-user
      - if @user.provider?
        = image_tag(@user.facebook_profile_picture("normal"), :alt => @user.username, :title => @user.username)
      - else
        = image_tag(@user.gravatar_url, :alt => @user.username, :title => @user.username)
      - if current_user == @user
        = link_to "Editar meus dados", edit_user_registration_path
    
    .right-user
      %p= t('strings.x_shared_offers', :x => @user.deals.count)
      %p= t('strings.followed_by_x_users', :x => @user.followers.count)
      %p= t('strings.following_x_users', :x => @user.following.count)

      - if user_signed_in? && current_user != @user
        - if current_user.follow? @user
          .unfollow
            = link_to I18n.t("actions.unfollow"), unfollow_user_path(@user.username), :class => :unfollow

        - else
          .follow
            = link_to I18n.t("actions.follow"), follow_user_path(@user.username), :class => :follow

      - elsif user_signed_in?
        - if @user.credit < 30.00
          %h4= t('strings.credit_x', :x => number_to_currency(@user.credit)).html_safe
        - else
          %h4= t('strings.credit_x', :x => number_to_currency(@user.credit)).html_safe
          %a{ :href => ""}= t('strings.withdraw_credit')