- if current_user == @user
  = render 'my_profile'
- else
  = render 'profile'

#sem-col

  .following
    .title
      = t('strings.x_following', x: @user.following.count)
      = link_to t('actions.all'), following_user_path(@user.username)
    %ul
      - @user.following.random.limit(4).each do |following|
        %li= link_to image_tag(following.medium_picture, alt: following.username, title: following.username), user_path(following.username), title: following.username
  .followers
    .title
      = t('strings.x_followers', x: @user.followers.count)
      = link_to t('actions.all'), followers_user_path(@user.username)
    %ul
      - @user.followers.random.limit(4).each do |follower|
        %li= link_to image_tag(follower.medium_picture), user_path(follower.username)

  .clear

  .ttGlHome
    %h2= t('strings.friends_offers')
    %h3= t('strings.friends_recommendations')
  .list-conteudo#home_list
    - Deal.active.by_user_ids(@user.following_ids).each_with_index do |deal, index|
      = render :partial => 'deals/top_deal', :locals => {:deal => deal, :index => index }
  .ttGlHome
    %h2= t('strings.my_wishes')
    %h3= t('strings.wished_by_me')
    = link_to t('strings.more'), deals_path
  .list-conteudo.best_deals
    - if @user.wishes.blank?
      %h3 Nenhuma oferta adorada
    - else
      .carousel1
        - @user.wishes.each_with_index do |deal, index|
          = render :partial => 'deals/small_deal', :locals => {:deal => deal, :index => index }
      = link_to 'Anterior', 'javascript:;', :id => 'list_prev1', :class => 'prev'
      = link_to 'Próximo', 'javascript:;', :id => 'list_next1', :class => 'next'
  .ttGlHome
    %h2= t('strings.my_offers')
    %h3= t('strings.offers_shared_by_me')
    = link_to t('strings.more'), deals_path
  .list-conteudo.best_deals
    - if @user.deals.blank?
      %h3 Nenhuma oferta cadastrada
    - else
      .carousel2
        - @user.deals.each_with_index do |deal, index|
          = render :partial => 'deals/small_deal', :locals => {:deal => deal, :index => index }
      = link_to 'Anterior', 'javascript:;', :id => 'list_prev2', :class => 'prev'
      = link_to 'Próximo', 'javascript:;', :id => 'list_next2', :class => 'next'

:javascript
  $(".carousel1").carouFredSel({
    circular : true,
    infinite : true,
    auto : false,
    prev : "#list_prev1",
    next : "#list_next1",
    scroll : {
      items : 1
    }
  });

  $(".carousel2").carouFredSel({
    circular : true,
    infinite : true,
    auto : false,
    prev : "#list_prev2",
    next : "#list_next2",
    scroll : {
      items : 1
    }
  });