.span12
  #edit_user_window.window.medium_window.row
    .middle.newProfile#userCreateAreaId
      %h1 OfertuS
      %h3 Esqueceu sua senha?

      .row-fluid
        = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
          .span5
            %ol
              %li
                = f.label :email
                = f.text_field :email
          
          .password_button.span2
            %p= f.submit I18n.t("actions.send_new_password"), :type=>"image", :src=> asset_path('botao.png'), :alt=> "Confirmar"

      .row-fluid
        .span12
          = render :partial => "devise/shared/links"