#sem-col
  .center
    .ttGlHome
      %h2= t('strings.edit')

  .edit_user
    .title= t('strings.edit_informations')
    
    .ct-inputs-login.ct-edit
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
        .right
          - if resource.provider?
            = image_tag resource.facebook_profile_picture
          - else
            = image_tag resource.gravatar_url
            %a{ :href => "http://gravatar.com/emails/", :target => "_blank" }= t('actions.edit_picture')

        .left
          %p
            = f.label :email
            %br
            - if resource.provider?
              = f.text_field :email, :disabled => true, :class => 'user-senha'
            - else
              = f.text_field :email, :class => 'user-senha'

          %p
            = f.label :username
            %br
            = f.text_field :username, :class => 'user-senha', :placeholder => 'Limite de 20 caracteres'
          
          %p{ :class => "#{resource.password_required? ? '' : 'last'}" }
            = f.label :name
            %br
            = f.text_field :name, :class => 'user-senha'

          - unless resource.provider?
            %p
              = f.label :password
              %br
              = f.password_field :password, :placeholder => 'deixe em branco se não quiser alterar', :class => 'user-senha'

            %p
              = f.label :password_confirmation
              %br
              = f.password_field :password_confirmation, :class => 'user-senha'
            
            %p
              = f.label :current_password, :placeholder => 'para confirmar as alterações, é preciso informar sua senha atual'
              %br
              = f.password_field :current_password, :class => 'user-senha'
        .clear
        - if resource.provider
          .facebook_share_options
            %p.checkbox-login
              = f.check_box :facebook_share_offer
              = f.label :facebook_share_offer
            %br.clear
            %p.checkbox-login
              = f.check_box :facebook_vote_offer
              = f.label :facebook_vote_offer
            %br.clear
            %p.checkbox-login
              = f.check_box :facebook_follow_user
              = f.label :facebook_follow_user
               
          = f.submit "", :class => "bt-confirmar"

    .links
      = link_to "Voltar", :back
      = link_to "Cancelar minha conta", registration_path(resource_name), :confirm => "Tem certeza?", :method => :delete