#sem-col

  .signup_description
    .ttGlHome
      %h2= t('strings.signup_title')
    .message= t('strings.signup_message')
    = link_to t('strings.login_with_facebook'), user_omniauth_authorize_path(:facebook), :class => "facebook_login_button"
    .or_background= t('strings.or')

    = link_to t('strings.register_using_email'), "javascript:;", id: 'email_register'
    .already_member
      = t('strings.already_a_member')
      = link_to 'Entre aqui', new_user_session_path

  .page-login{ :style => 'display: none;' }
    %h3{ :style => 'margin-bottom: 0;' }= t('strings.fill_fields')
    %h3{ :style => 'margin-bottom: 0;' }= 'ou'
    .fb-login-button
      = link_to t('strings.login_with_facebook'), user_omniauth_authorize_path(:facebook), :class => "facebook_login_button"

    .ct-inputs-login
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        
        - if session[:invited_by]
          = f.hidden_field :invited_by_id, value: User.find_by_username(session[:invited_by]).id

        %p
          = f.label :email
          %br
          - if resource.provider?
            = f.text_field :email, :class => 'user-senha', :disable => true
            = f.hidden_field :email
          - else
            = f.text_field :email, :class => 'user-senha'
        .clear
        %p
          = f.label :username
          %br
          = f.text_field :username, :class => 'user-senha'
          %span
            Mínimo 5 e máximo 20 caracteres.
        .clear
        %p
          = f.label :name
          %br
          = f.text_field :name, :class => 'user-senha'
        .clear
        - if @user.password_required?
          %p.last
            = f.label :password
            %br
            = f.password_field :password, :class => 'user-senha'
            %span
              Mínimo 6 caracteres.
          .clear
          %p
            = f.label :password_confirmation
            %br
            = f.password_field :password_confirmation, :class => 'user-senha'
          .clear
          
        %p.checkbox-login{ :style => 'width: 600px' }
          = check_box_tag(:terms_privacy, :terms_privacy)
          %label{ :for => "terms_privacy" }
            Concordo com os 
            = link_to 'termos de uso', termsofuse_path, :target => '_blank'
            e 
            = link_to 'política de privacidade', privacypolicy_path, :target => '_blank'
            do site.

        %br.clear
        = f.submit "", :class => 'bt-confirmar', :id => 'signup_btn'

        / TODO: RECAPTCHA
        /%li
        /  %label Digite as letras:
        /  %img{ :src => "../simpleCaptcha", :class => "captcha" }
        /  %input{ :type => "text", :tabindex => "10", :class => "captcha", :maxlength => "10"}

.clear


:javascript
  $('#email_register').click(function(){
    $('.page-login').show()
  });