- banners = Banner.active
#home_header
  .content
    #partners
      %span Ache ofertas para cadastrar:
      %ul.partners_carousel
        - Partner.active.each do |partner|
          %li= link_to image_tag(partner.mini_image_url, alt: partner.name, title: partner.name), partner.url, target: '_blank'
      = link_to 'Anterior', 'javascript:;', :id => 'list_prev_partners', :class => 'prev'
      = link_to 'Próximo', 'javascript:;', :id => 'list_next_partners', :class => 'next'
    #share
      %iframe{ src: "//www.facebook.com/plugins/like.php?locale=pt_BR&href=http://www.facebook.com/ofertus&send=false&layout=button_count&width=82&show_faces=false&font=arial&colorscheme=light&action=like&height=21&appId=146791075437937", scrolling: 'no', frameborder: 0, style: "border: none; overflow: hidden; width: 115px; height: 21px; float: left; margin: 3px 26px;", allowTransparency: 'true' }
      :plain
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
        <g:plusone></g:plusone>
    .clear
    #banners
      = cache 'banners', expires_in: 1.hour do
        .banners_content
          %ul
            - banners.each_with_index do |banner, index|
              %li{ class: index == 0 ? 'selected' : '' }= link_to image_tag( banner.icon(:thumb), alt: banner.alt, title: banner.title), 'javascript:;', onclick: "$('div.selected').hide(); $('#banner_#{banner.id}').show();", id: "li_banner_#{banner.id}"
          - banners.each_with_index do |banner, index|
            .selected{ style: index != 0 ? 'display: none;' : '', id: "banner_#{banner.id}" }= link_to image_tag(banner.image, title: banner.title, alt: banner.alt), banner.url, target: banner.target

    - unless user_signed_in?
      #video
        = link_to 'Assista ao Vídeo', 'javascript:;', onclick: "Popup.open_url('#{show_video_url}')"
        %span Veja o vídeo e entenda
      #mailing
        %img{ src: asset_path('mailing_icon.png'), alt: 'mailing' }
        %span Receba o melhor do Ofertus por email
        = form_for('subscribe_to_newsletter', :url => subscribe_to_newsletter_path, :html => { :class => 'subscribe_form', :method => :get, :id => 'subscribe_form' }) do |f|
          = f.email_field :email, placeholder: 'Insira seu email', value: params[:email] ? params[:subscribe_to_newsletter][:email] : ''
          = f.submit 'OK'
      #social
        .text
          O primeiro
          %strong programa de afiliados pessoal
          para ofertas. Cadastre ofertas e ganhe comissões toda vez que alguém comprar!
        .buttons
          = link_to t('strings.login_with_facebook'), user_omniauth_authorize_path(:facebook), :class => "facebook_login_button", :'data-no-turbolink' => true
          = link_to t('strings.register'), new_user_registration_path, :class => "register_button"
          %div
          = link_to t('strings.i_am_here_to_buy'), deals_path, :class => "buy_button"
        .dog
        .bottom
        .like
          .icon
          .text
            %strong Adore Ofertas
            %br
            Guarde seus produtos favoritos e dê destaque as boas ofertas.
            = link_to 'Saiba Mais', how_it_works_path
        .power
          .icon
          .text
            %strong Ganhe Poderes
            %br
            Seja premiado por suas atitudes e adquira vantagens incríveis!
            = link_to 'Saiba Mais', 'javascript:;', onclick: "Popup.open_url('#{powers_popup_url}')"
    #steps
      %strong Veja o que fazer aqui:

      .step1
        .img
        %span Descubra e compre ofertas incríveis

      .step2
        .img
        %span Promova vendas e ganhe dinheiro

      .step3
        .img
        %span Compre suas ofertas e receba parte de volta

      - if user_signed_in?
        = link_to 'Convide e Ganhe', friends_user_path(current_user.username), id: 'steps_call_to_action_btn'
      - else
        = link_to 'Convide e Ganhe', new_user_session_path, id: 'steps_call_to_action_btn'

  .clear

:javascript
  $(".partners_carousel").carouFredSel({
    circular : true,
    infinite : true,
    auto : false,
    prev : "#list_prev_partners",
    next : "#list_next_partners",
    scroll : {
      items : 1
    }
  });

  var imagens = #{banners.collect { |b| "li_banner_" + b.id.to_s } };
  var imagem  = 0;

  $(document).ready(function() {
    slides()
  });

  $(document).on('page:load', function(){
    slides();
  })

  function slides() {
    setTimeout(function(){
      $("#"+imagens[imagem]).click(); imagem++; if(imagem > 2) imagem = 0; slides()
    }, 5000)
  }