- banners = Banner.active
#home_header
  .content
    #banners
      .banners_content
        %ul
          - banners.each_with_index do |banner, index|
            %li{ class: index == 0 ? 'selected' : '' }= link_to image_tag( banner.icon(:thumb), alt: banner.alt, title: banner.title), 'javascript:;', onclick: "$('div.selected').hide(); $('#banner_#{banner.id}').show();", id: "li_banner_#{banner.id}"
        - banners.each_with_index do |banner, index|
          .selected{ style: index != 0 ? 'display: none;' : '', id: "banner_#{banner.id}" }= link_to image_tag(banner.image, title: banner.title, alt: banner.alt), banner.url, target: banner.target

    - unless user_signed_in?
      #video
        = link_to 'Assista ao Vídeo', 'javascript:;', onclick: "Popup.open_url('#{show_video_url}')"
        %span Veja o vídeo e entenda
      #mailing
        %img{ src: asset_path('mailing_icon.png'), alt: 'mailing' }
        %span Receba o melhor do Ofertus por email
        = form_for('subscribe_to_newsletter', :url => subscribe_to_newsletter_path, :html => { :class => 'subscribe_form', :method => :get, :id => 'subscribe_form' }) do |f|
          = f.email_field :email, placeholder: 'Insira seu email', value: params[:email] ? params[:subscribe_to_newsletter][:email] : ''
          = f.submit 'OK'
      #social
        .text
          O primeiro
          %strong programa de afiliados pessoal
          para ofertas. Cadastre ofertas e ganhe comissões toda vez que alguém comprar!
        .buttons
          = link_to t('strings.login_with_facebook'), user_omniauth_authorize_path(:facebook), :class => "facebook_login_button", :'data-no-turbolink' => true
          = link_to t('strings.register'), new_user_registration_path, :class => "register_button"
          %div
          = link_to t('strings.i_am_here_to_buy'), deals_path, :class => "buy_button"
        .dog
        .bottom
        .like
          .icon
          .text
            %strong Adore Ofertas
            %br
            Guarde seus produtos favoritos e dê destaque as boas ofertas.
            = link_to 'Saiba Mais', how_it_works_path
        .power
          .icon
          .text
            %strong Ganhe Poderes
            %br
            Seja premiado por suas atitudes e adquira vantagens incríveis!
            = link_to 'Saiba Mais', 'javascript:;', onclick: "Popup.open_url('#{powers_popup_url}')"
    #steps
      %strong Veja o que fazer aqui:

      .step1
        .img
        %span Descubra e compre ofertas incríveis

      .step2
        .img
        %span Promova vendas e ganhe dinheiro

      .step3
        .img
        %span Compre suas ofertas e receba parte de volta

      - if user_signed_in?
        = link_to 'Convide e Ganhe', friends_user_path(current_user.username), id: 'steps_call_to_action_btn'
      - else
        = link_to 'Convide e Ganhe', new_user_session_path, id: 'steps_call_to_action_btn'

  .clear

:javascript
  var imagens = #{banners.collect { |b| "li_banner_" + b.id.to_s } };
  var imagem  = 0;

  $(document).ready(function() {
    slides()
  });

  $(document).on('page:load', function(){
    slides();
  })

  function slides() {
    setTimeout(function(){
      $("#"+imagens[imagem]).click(); imagem++; if(imagem > 2) imagem = 0; slides()
    }, 5000)
  }