.banks_list
  %table#banks_table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th{ :style => "text-align: center;", :colspan => "3" } Lista de Bancos do Brasil
      %tr
        %th= t('strings.banks.code')
        %th= t('strings.banks.name')
        %th= t('strings.banks.abreviation')

    %tbody
      %tr
        %td= link_to '003', 'javascript:;', onclick: "chosen_bank('003')"
        %td Banco da Amazônia
        %td BASA

      %tr
        %td= link_to '070', 'javascript:;', onclick: "chosen_bank('070')"
        %td Banco de Brasília
        %td BRB

      %tr
        %td= link_to '001', 'javascript:;', onclick: "chosen_bank('001')"
        %td Banco do Brasil
        %td BRB

      %tr
        %td= link_to '047', 'javascript:;', onclick: "chosen_bank('047')"
        %td Banco do Estado de Sergipe
        %td Banese

      %tr
        %td= link_to '021', 'javascript:;', onclick: "chosen_bank('021')"
        %td Banco do Estado do Espírito Santo
        %td Banestes

      %tr
        %td= link_to '025', 'javascript:;', onclick: "chosen_bank('025')"
        %td Banco Alfa
        %td Alfa

      %tr
        %td= link_to '719', 'javascript:;', onclick: "chosen_bank('719')"
        %td Banco Banif
        %td Banif

      %tr
        %td= link_to '318', 'javascript:;', onclick: "chosen_bank('318')"
        %td Banco BMG
        %td BMG

      %tr
        %td= link_to '208', 'javascript:;', onclick: "chosen_bank('208')"
        %td Banco BTG Pactual
        %td BTG

      %tr
        %td= link_to '745', 'javascript:;', onclick: "chosen_bank('745')"
        %td Banco Citibank
        %td Citibank

      %tr
        %td= link_to '505', 'javascript:;', onclick: "chosen_bank('505')"
        %td Banco Credit Suisse
        %td Banco Credit Suisse

      %tr
        %td= link_to '756', 'javascript:;', onclick: "chosen_bank('756')"
        %td Banco Cooperativo do Brasil
        %td BANCOOB

      %tr
        %td= link_to '748', 'javascript:;', onclick: "chosen_bank('748')"
        %td Banco Cooperativo Sicredi
        %td SICREDI

      %tr
        %td= link_to '037', 'javascript:;', onclick: "chosen_bank('037')"
        %td Banco do Estado do Pará
        %td Banpará

      %tr
        %td= link_to '041', 'javascript:;', onclick: "chosen_bank('041')"
        %td Banco do Estado do Rio Grande do Sul
        %td Banrisul

      %tr
        %td= link_to '004', 'javascript:;', onclick: "chosen_bank('004')"
        %td Banco do Nordeste do Brasil
        %td BNB

      %tr
        %td= link_to '399', 'javascript:;', onclick: "chosen_bank('399')"
        %td Banco HSBC Bank Brasil
        %td HSBC

      %tr
        %td= link_to '077', 'javascript:;', onclick: "chosen_bank('077')"
        %td Banco Intermedium
        %td Intermedium

      %tr
        %td= link_to '341', 'javascript:;', onclick: "chosen_bank('341')"
        %td Banco Itaú
        %td Itaú

      %tr
        %td= link_to '647', 'javascript:;', onclick: "chosen_bank('647')"
        %td Banco Marka
        %td Marka

      %tr
        %td= link_to '389', 'javascript:;', onclick: "chosen_bank('389')"
        %td Banco Mercantil do Brasil
        %td BMB

      %tr
        %td= link_to '623', 'javascript:;', onclick: "chosen_bank('623')"
        %td Banco Panamericano
        %td Panamericano

      %tr
        %td= link_to '073', 'javascript:;', onclick: "chosen_bank('073')"
        %td Banco Popular do Brasil
        %td BPB

      %tr
        %td= link_to '638', 'javascript:;', onclick: "chosen_bank('638')"
        %td Banco Prosper
        %td Prosper

      %tr
        %td= link_to '453', 'javascript:;', onclick: "chosen_bank('453')"
        %td Banco Rural
        %td Rural

      %tr
        %td= link_to '422', 'javascript:;', onclick: "chosen_bank('422')"
        %td Banco Safra
        %td Safra

      %tr
        %td= link_to '353', 'javascript:;', onclick: "chosen_bank('353')"
        %td Banco Santander
        %td Santander

      %tr
        %td= link_to '637', 'javascript:;', onclick: "chosen_bank('637')"
        %td Banco Sofisa
        %td Sofisa

      %tr
        %td= link_to '082', 'javascript:;', onclick: "chosen_bank('082')"
        %td Banco Topázio
        %td Topázio

      %tr
        %td= link_to '237', 'javascript:;', onclick: "chosen_bank('237')"
        %td Bradesco
        %td Bradesco

      %tr
        %td= link_to '104', 'javascript:;', onclick: "chosen_bank('104')"
        %td Caixa Econômica Federal 
        %td CEF