#sem-col

  .ttGlHome
    %h2= t('strings.ofertus_top')
    %h3= t('strings.our_team_recomendations')
  .list-conteudo#home_list
    - @top_deals.each_with_index do |deal, index|
      = render :partial => 'deals/top_deal', :locals => {:deal => deal, :index => index }
  .ttGlHome
    %h2= t('strings.users_best')
    %h3= t('strings.our_users_recomendations')
    = link_to t('strings.more'), deals_path
  .list-conteudo.best_deals
    - @best_deals.each_with_index do |deal, index|
      = render :partial => 'deals/small_deal', :locals => {:deal => deal, :index => index }
  .ttGlHome
    %h2= t('strings.recent')
    %h3= t('strings.recent_deals')
    = link_to t('strings.more'), deals_path
  .list-conteudo.best_deals
    - @recent_deals.each_with_index do |deal, index|
      = render :partial => 'deals/small_deal', :locals => {:deal => deal, :index => index }
  .ttGlHome
    %h2= t('strings.who_is_using')
    %h3= t('strings.follow_who_share_good_offers')
    = link_to t('strings.invite_friends'), users_path, class: 'invite_friends'
  .list-conteudo
    - @users.each_with_index do |user, index|
      %div{ :class => "top_user #{index == 0 || index == 3 ? 'first' : (index == 2 || index == 5 ? 'last' : '')}" }
        = render 'users/top_user', :user => user, :index => index