= cache 'how_it_works', expires_in: 1.week do
  #sem-col
    .ttGlHome
      %h2= t('strings.how_it_works')

    .how_it_works
      .img.circle_1
      .text
        .ttGlHome
          %h2 Agregador de Ofertas Colaborativo
        %p Chega de ficar entrando em milhões de sites, tentando encontrar um desconto para aquele produto que você quer. Um local para você encontrar todos os dias as melhores ofertas, essa é a premissa do Ofertus.
        %p Você também não quer entrar em outros agregadores de descontos e ver aquela lista enorme de ofertas nada a ver com você, não é mesmo? Pensando nisso, nós deixamos os próprios usuário recomendarem as ofertas, e você segue quem recomendar o que é do seu gosto. Assim, você ver o que quer, compra o que quer.
        %p Por fim, navegue por um ambiente todo pensado para compradores. São inúmeras funcionalidades que ajudam você a comprar com simplicidade. Veja no quadro abaixo nossos principais recursos.

    .how_it_works
      .img.circle_2
      .text
        .ttGlHome
          %h2 Gerador de Links de Afiliados Pessoal
        %p Você sabe o que são programas de afiliados? Mesmo que você não os conheça, já se deparou com alguns por aí. Um programa de afiliados é um sistema que recompensa seus participantes, ou afiliados, por estes direcionarem vendas a parceiros. Como exemplo, blogs e lojas virtuais utilizam esse sistema para receber comissões de lojas parceiras de grande porte.
        %p Mas o que o Ofertus tem a ver com isso? Bom, o Ofertus permite que você, internauta, possa receber suas comissões sem que seja preciso ter um site. Assim você ganha dinheiro por promover vendas para os nossos parceiros.
        %p
          Para ganhar é fácil: basta achar ofertas nos sites de nossos parceiros e cadastrá-las no Ofertus(Para ver instruções mais detalhadas sobre isso e cadastrar uma oferta,
          = link_to 'clique aqui', new_deal_path
          ). Estas ofertas serão suas por um período limitado. Em seguida, divulgue para quem quiser. Para toda compra realizada a partir do seu link, você ganha uma comissão. Quando completar R$50,00 você pode efetuar o resgate, e nós iremos transferir o dinheiro para você.
        %p
          O que está esperando? Não perca tempo.
          = link_to 'Cadastre-se', new_user_registration_path
          e comece agora mesmo a promover ofertas e ganhar com isso!

    .how_box
      .menu
        = link_to 'Ofertas', 'javascript:;', class: 'how_deals', onclick: "show_how_to_menu('how_deals')"
        = link_to 'Usuários', 'javascript:;', class: 'how_users', onclick: "show_how_to_menu('how_users')"
        = link_to 'Dinheiro', 'javascript:;', class: 'how_money', onclick: "show_how_to_menu('how_money')"
        = link_to 'Desejos', 'javascript:;', class: 'how_wishes', onclick: "show_how_to_menu('how_wishes')"
        = link_to 'Denúncias', 'javascript:;', class: 'how_reports', onclick: "show_how_to_menu('how_reports')"
        = link_to 'Poderes', 'javascript:;', class: 'how_powers', onclick: "show_how_to_menu('how_powers')"
      #how_deals
        %p= t('how_it_works.deals.description1')
        .ttGlHome
          %h2= t('how_it_works.deals.register_deals')
        %p= t('how_it_works.deals.description2', link: link_to('acesse aqui', new_deal_path)).html_safe
        .ttGlHome
          %h2= t('how_it_works.deals.share_deals')
        %p= t('how_it_works.deals.description3').html_safe
        .ttGlHome
          %h2= t('how_it_works.deals.interact_with_deals')
        %p= t('how_it_works.deals.description4', wish_link: link_to('clique aqui', 'javascript:;', onclick: "show_how_to_menu('how_wishes')"), report_link: link_to('clique aqui', 'javascript:;', onclick: "show_how_to_menu('how_reports')")).html_safe

      #how_users
        %p= t('how_it_works.users.description1')
        .ttGlHome
          %h2= t('how_it_works.users.follow_users')
        %p= t('how_it_works.users.description2').html_safe
        %img{ src: asset_path('follow_user_img.png'), title: 'Seguir um usuário', alt: 'Clicar no botão seguir na página de perfil do usuário' }
        .ttGlHome
          %h2= t('how_it_works.users.invite_friends')
        %p= t('how_it_works.users.description3', link: link_to('clique aqui', 'javascript:;', onclick: "show_how_to_menu('how_powers')")).html_safe
        %img{ src: asset_path('invite_friends_img.png'), title: 'Convidar Amigos', alt: 'Menu de configurações com o link convidar amigos' }
        %p= t('how_it_works.users.description4').html_safe
        %img{ src: asset_path('invite_friends_img2.png'), title: 'Convidar Amigos', alt: 'Menu de configurações com o link convidar amigos' }

      #how_money
        %p= t('how_it_works.money.description1').html_safe
        .ttGlHome
          %h2= t('how_it_works.money.sales')
        %p= t('how_it_works.money.description2').html_safe
        %img{ src: asset_path('sales_img.png'), title: 'Saldo', alt: 'Menu de configurações com o link de saldo' }
        %p= t('how_it_works.money.description3').html_safe
        .ttGlHome
          %h2= t('how_it_works.money.withdraw')
        %p= t('how_it_works.money.description4').html_safe
        %img{ src: asset_path('withdraw_img.png'), title: 'Resgatar', alt: 'Botão disponível para resgate do salo' }
        %p= t('how_it_works.money.description5').html_safe

      #how_wishes
        %p= t('how_it_works.wishes.description1').html_safe
        .ttGlHome
          %h2= t('how_it_works.wishes.upvote')
        %p= t('how_it_works.wishes.description2').html_safe
        %img{ src: asset_path('deals_upvote_img.png'), title: 'Adorar uma Oferta', alt: 'Imagem do botão em formato de coração para adorar uma oferta' }
        %p= t('how_it_works.wishes.description3').html_safe
        %img{ src: asset_path('deals_upvote_count_img.png'), title: 'Quantidade de Adorar de uma Oferta', alt: 'Coração que mostra a contagem de adorar que uma oferta teve' }

      #how_reports
        %p= t('how_it_works.reports.description1').html_safe
        .ttGlHome
          %h2= t('how_it_works.reports.downvote')
        %p= t('how_it_works.reports.description2').html_safe
        %p= t('how_it_works.reports.description3').html_safe
        %img{ src: asset_path('deals_downvote_img.png'), title: 'Denunciar uma Oferta', alt: 'Imagem do botão com símbolo de exclamação para denunciar uma oferta' }
        .ttGlHome
          %h2= t('how_it_works.reports.my_deals_reported')
        %p= t('how_it_works.reports.description4').html_safe

      #how_powers
        %p= t('how_it_works.powers.description1', link: link_to('Clique aqui', 'javascript:;', onclick: "Popup.open_url('#{powers_popup_url}')")).html_safe
        %p= t('how_it_works.powers.description2').html_safe
        %p= t('how_it_works.powers.description3').html_safe
        .ttGlHome
          %h2= t('how_it_works.powers.earn')
        %p= t('how_it_works.powers.description4').html_safe
        %p.promote= t('how_it_works.powers.promote').html_safe
        %p.or= t('how_it_works.powers.or')
        %p.invite_friends= t('how_it_works.powers.invite_friends').html_safe
        %p.or= t('how_it_works.powers.or')
        %p.wishes= t('how_it_works.powers.wishes').html_safe
        %p= t('how_it_works.powers.description5').html_safe
        .ttGlHome
          %h2= t('how_it_works.powers.use')
        %p= t('how_it_works.powers.description6').html_safe

:javascript
  function show_how_to_menu(menu){
    $('#how_deals').hide();
    $('#how_users').hide();
    $('#how_money').hide();
    $('#how_wishes').hide();
    $('#how_reports').hide();
    $('#how_powers').hide();
    $('#'+menu).show();
  }