#sem-col
  .ttGlHome
    %h2= t('strings.partners')

  .list-conteudo.como-funciona
    = cache [:partners_page], expires_in: 1.week do
      %ul.partners_list
        - Partner.active.order('name').each do |partner|
          %li
            %a{ href: partner.url, target: '_blank' }
              - if partner.promotion
                .plus
                  .value= '+' + (partner.promotion_commission - partner.user_commission).to_s.gsub('.',',') + '%'
              %img{ src: partner.image_url, alt: partner.name, title: partner.name }
              - if partner.promotion
                .percent.old_and_new
                  .old= partner.user_commission.to_s.gsub('.',',') + '%'
                  .new= partner.promotion_commission.to_s.gsub('.',',') + '%'
              - else
                .percent= partner.user_commission.to_s.gsub('.',',') + '%'