#sem-col
  .ttGlHome
    %h2= t('strings.partners')
  #brief
    %p Nós do Ofertus mantemos parcerias com uma parcela significativa das principais lojas virtuais do país, sendo um facilitador de compras para seus usuários. Essas lojas repassam a nós uma porcentagem de cada venda efetuada através do site, e se o responsável pela venda foi um de nossos usuários, nós repassamos uma comissão para o usuário!
    %p Abaixo, você pode conferir as marcas de nossos parceiros, bem como a porcentagem que você ganha por cada venda promovida. Para ver a porcentagem, passe o mouse em cima da marca. A KANUI, por exemplo, te dá 5,0% em cada produto vendido. Portanto, se você promover uma bicicleta que está custando R$1.000,00, você ganhará, de cara, R$50,00! Isso não é incrível?
    %p Pense então se 10 pessoas comprarem a tal bicicleta por sua causa. Serão R$500,00 em sua conta do Ofertus!  O que você está esperando? Entre nessa agora mesmo!


  .list-conteudo.como-funciona
    = cache [:partners_page], expires_in: 1.week do
      %ul.partners_list
        - Partner.active.order('name').each do |partner|
          %li
            %a{ href: partner.url, target: '_blank' }
              - if partner.promotion
                .plus
                  .value= '+' + (partner.promotion_commission - partner.user_commission).to_s.gsub('.',',') + '%'
              %img{ src: partner.image_url, alt: partner.name, title: partner.name }
              - if partner.promotion
                .percent.old_and_new
                  .old= partner.user_commission.to_s.gsub('.',',') + '%'
                  .new= partner.promotion_commission.to_s.gsub('.',',') + '%'
              - else
                .percent= partner.user_commission.to_s.gsub('.',',') + '%'