#deals_background
  .offer_details{ id: "deal_#{deal.id}" }
    %h3
      %a{ :href => deal.link, :target => '_blank'}= deal.title
    .counts
      %span.likes= deal.up_votes
      %span.reports= deal.down_votes

    - if current_user && current_user.down_voted?(deal)
      = link_to t('strings.unreport'), 'javascript:;', class: 'unreport', id: 'unreport_btn', onclick: "unreport_deal('#{deal.id}')"
      = link_to t('strings.report'), 'javascript:;', class: 'report', id: 'report_btn', onclick: "report_deal('#{deal.id}')", style: 'display: none;'
    - else
      = link_to t('strings.unreport'), 'javascript:;', class: 'unreport', id: 'unreport_btn', onclick: "unreport_deal('#{deal.id}')", style: 'display: none;'
      = link_to t('strings.report'), 'javascript:;', class: 'report', id: 'report_btn', onclick: "report_deal('#{deal.id}')"

    .shared_by
      .label
        Compartilhada por:
        %br
        %br
        %span= 'Há ' + time_ago_in_words(deal.created_at)
      %a{ href: user_path(deal.user.username), title: deal.user.username }
        %img{ src: deal.user.small_picture, alt: deal.user.username }

    .clear
    .deal_image= Rails.cache.fetch([:deal, :image, deal.id], expires_in: 1.month) { "<img alt='#{deal.get_image_url}' title='#{deal.title}' src='#{deal.get_image_url}'>".html_safe }

    .deals_info_center
      - if deal.discount > 50
        .preco-off{ style: "background-image: url('#{asset_path('red_discount_big.png')}')" }
          %h4= "#{deal.discount.to_i}%"
      - elsif deal.discount > 25
        .preco-off{ style: "background-image: url('#{asset_path('orange_discount_big.png')}')" }
          %h4= "#{deal.discount.to_i}%"
      - else
        .preco-off
          %h4= "#{deal.discount.to_i}%"

      .prices
        - if deal.price?
          .from= t('strings.original_price', :price => number_to_currency(deal.real_price)).html_safe
        .by= t('strings.offer_price', :price => number_to_currency(deal.price)).html_safe

      .end_date
        - year = '-'
        - day = '-'
        - if deal.end_date?
          - year = deal.end_date.strftime('%Y')
          - day = deal.end_date.strftime('%d/%m')
        .year= year
        .label= t('strings.end_date_only')
        .day= day

      .clear

      %div{ class: "category category_#{deal.category_string}" }
        %div{ style: 'float: left; width: 1px; height: 26px;'}
        .label= t('strings.category')
        .icon
        .name= Deal.i18n_category(deal.category)

      - unless deal.partner.blank?
        .partner
          .label
            Encontrada em:
            %a{ href: "#{deals_path}?partner=#{deal.partner.id}", title: deal.partner.name }
          %a{ href: "#{deals_path}?partner=#{deal.partner.id}", title: deal.partner.name }
            %img{ src: deal.partner.small_image_url, alt: deal.partner.name }

      %a.buy{ href: deal.link, target: '_blank', title: 'Comprar', rel: "nofollow" } Comprar

    .who_likes
      .title= t('strings.who_likes').capitalize
      - User.liked_deal(deal.id).limit(6).each do |user|
        = link_to image_tag(user.small_picture, alt: user.name), user_path(user.username), title: user.name
      .bottom
        .users_count= deal.up_votes
        = link_to 'Ver todos', users_path + '?deal_liked_id=' + deal.id.to_s

    .share_social
      - if current_user && current_user.up_voted?(deal)
        = link_to t('strings.dislike'), 'javascript:;', class: 'dislike', id:'dislike_btn', onclick: "dislike_deal('#{deal.id}')"
        = link_to t('strings.like'), 'javascript:;', class: 'like', id: 'like_btn', onclick: "upvote_deal('#{deal.id}')", style: 'display: none;'
      - else
        = link_to t('strings.like'), 'javascript:;', class: 'like', id: 'like_btn', onclick: "upvote_deal('#{deal.id}')"
        = link_to t('strings.dislike'), 'javascript:;', class: 'dislike', id: 'dislike_btn', onclick: "dislike_deal('#{deal.id}')", style: 'display: none;'

      / %iframe{ src: "//www.facebook.com/plugins/like.php?locale=pt_BR&href=#{deal_url(deal)}&send=false&layout=button_count&width=82&show_faces=false&font=arial&colorscheme=light&action=like&height=21&appId=146791075437937", scrolling: 'no', frameborder: 0, style: "border: none; overflow: hidden; width: 95px; height: 21px; float: left;", allowTransparency: 'true' }

      %a#fb_share{ href: "https://www.facebook.com/dialog/feed?app_id=146791075437937&link=#{deal_url(deal)}&picture=#{deal.get_image_url}&name=#{deal.title}&caption=Reference%20Documentation&description=#{deal.title}&redirect_uri=#{deal_url(deal)}", rel: "nofollow" }

      %a#tw_share{ href: "http://twitter.com/share?url=#{deal_url(deal)}&text=#{truncate(deal.title, length: 90)} por #{price_to_currency(deal.price, {not_html: true}) + ' ' + deal_url(deal.id)} by @ofertusbr #ofertus", target: "_blank", rel: "nofollow" }

      / %a{ href: "https://plus.google.com/share?url={deal_url(deal)}", onclick: "javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;", style: "float: left; margin-right: 10px;" }
      /   %img{ src: "https://www.gstatic.com/images/icons/gplus-16.png", alt: "Share on Google+", style: 'height: 19px;' }

      / %div{ style: "height: 21px; width: 70px; display: inline-block; text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; background-position: initial initial; background-repeat: initial initial;", id: "___plusone_0"}
      /   %iframe{ frameborder: "0", hspace: "0", marginheight: "0", marginwidth: "0", scrolling: "no", style: "position: static; top: 0px; width: 100%; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 21px;", tabindex: "0", vspace: "0", width: "100%", id: "I0_1358044382094", name: "I0_1358044382094", src: "https://plusone.google.com/_/+1/fastbutton?bsv&size=medium&annotation=bubble&%2C=&hl=pt-BR&origin=#{deal_url(deal)}&url=#{deal_url(deal)}&ic=1&jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.pt_BR.tqhs4u748ug.O%2Fm%3D__features__%2Fam%3DiQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTPuUNPD6ivWsPRMP6IQ_6x2WR2P4g#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled&amp;id=I0_1358044382094&parent=#{deal_url(deal)}", allowtransparency: "true", data: { gapiattached: "true" }, title: "+1" }

      %a#pin_share.pin-it-button{ href: "http://pinterest.com/pin/create/button/?url=#{deal_url(deal)}&media=#{deal.get_image_url}&description=#{deal.title} por #{price_to_currency(deal.price, not_html: true) + ' ' + deal_url(deal.id)}", target: '_blank', rel: 'nofollow'}