.list-box-sidebar#busca-home
  .ttGlHome
    %h2= t('strings.search_options')
    - "Parâmetro: #{params[:search_order]}"
    - "Parâmetro: #{params[:search_city]}"

  %form{ :id => "search_form", :action => deals_path, :method => "get", :class => "search"}
    .border-input-busca
      = text_field_tag :search, params[:search], :class => "input-tx"
      %input{ :type => "submit", :value => "", :class => "submit", :id => 'search_button'}

    .border-input-busca.select
      = select_tag "search_order", search_options(params[:search_order]), :class => 'user-senha'

    .border-input-busca.select
      = select_tag "search_city", search_city_options(params[:search_city]), :class => 'user-senha'

:plain
  <div class="fb-like-box" data-href="https://www.facebook.com/OfertUs" data-width="292" data-colorscheme="dark" data-show-faces="true" data-stream="false" data-header="true"></div>

.list-box-sidebar#best_offers
  .ttGlHome
    %h2= t('strings.best_offers')

  - @best_deals.each do |deal|
    = render :partial => 'deals/side_deal', :locals => {:deal => deal}

.list-box-sidebar#most_commented_offers
  .ttGlHome
    %h2= t('strings.most_commented')

  - @most_comment_deals.each do |deal|
    = render :partial => 'deals/side_deal', :locals => {:deal => deal}

.list-box-sidebar.sidebar-last#recent_offers
  .ttGlHome
    %h2= t('strings.last_shared')

  - @newest_deals.each do |deal|
    = render :partial => 'deals/side_deal', :locals => {:deal => deal}