%div{ class: "top_deal #{index%3 == 0 ? 'first' : ''}", onclick: "Turbolinks.visit('#{deal_path(deal)}')", id: "deal_#{deal.id}" }
  %a{ class: "category category_#{deal.category}", href: "#{deals_path}/active/#{deal.category_string}", onmouseover: "$('#deal_#{deal.id}').attr('onclick','')", onmouseout: "$('#deal_#{deal.id}').attr('onclick','Turbolinks.visit(\"#{deal_path(deal)}\")')" }
    %p= truncate_title(Deal.i18n_category(deal.category), 14)
  .price_and_discount
    .price
      %p.from= t('strings.from_price', price: number_to_currency(deal.real_price)).html_safe
      %p.by= t('strings.by_price', price: number_to_currency(deal.price)).html_safe
  .image
    %a{ href: deal_path(deal), id: "deal_photo_#{index}", onmouseover: "$('#deal_#{deal.id}').attr('onclick','')", onmouseout: "$('#deal_#{deal.id}').attr('onclick','Turbolinks.visit(\"#{deal_path(deal)}\")')" }
      = Rails.cache.fetch([:deal, :image, deal.id], expires_in: 1.month) { "<img alt='#{deal.get_image_url}' title='#{deal.title}' src='#{deal.get_image_url}'>".html_safe }
  - if current_user && current_user.up_voted?(deal)
    = link_to t('strings.dislike'), 'javascript:;', class: 'dislike', id:'dislike_btn', onclick: "dislike_deal('#{deal.id}')", onmouseover: "$('#deal_#{deal.id}').attr('onclick','')", onmouseout: "$('#deal_#{deal.id}').attr('onclick','Turbolinks.visit(\"#{deal_path(deal)}\")')"
    = link_to t('strings.like'), 'javascript:;', class: 'like', id: 'like_btn', onclick: "upvote_deal('#{deal.id}')", onmouseover: "$('#deal_#{deal.id}').attr('onclick','')", onmouseout: "$('#deal_#{deal.id}').attr('onclick','Turbolinks.visit(\"#{deal_path(deal)}\")')", style: 'display: none;'
  - else
    = link_to t('strings.like'), 'javascript:;', class: 'like', id: 'like_btn', onclick: "upvote_deal('#{deal.id}')", onmouseover: "$('#deal_#{deal.id}').attr('onclick','')", onmouseout: "$('#deal_#{deal.id}').attr('onclick','Turbolinks.visit(\"#{deal_path(deal)}\")')"
    = link_to t('strings.dislike'), 'javascript:;', class: 'dislike', id: 'dislike_btn', onclick: "dislike_deal('#{deal.id}')", style: 'display: none;', onmouseover: "$('#deal_#{deal.id}').attr('onclick','')", onmouseout: "$('#deal_#{deal.id}').attr('onclick','Turbolinks.visit(\"#{deal_path(deal)}\")')"
  %a.fb{ href: "https://www.facebook.com/dialog/feed?app_id=146791075437937&link=#{deal_url(deal)}&picture=#{deal.get_image_url}&name=#{deal.title}&caption=Reference%20Documentation&description=#{deal.title}&redirect_uri=#{request.url}", 'data-no-turbolink' => true, onmouseover: "$('#deal_#{deal.id}').attr('onclick','')", onmouseout: "$('#deal_#{deal.id}').attr('onclick','Turbolinks.visit(\"#{deal_path(deal)}\")')" }

  .details
    %h4= link_to truncate_title(deal.title, 50), deal_path(deal), onmouseover: "$('#deal_#{deal.id}').attr('onclick','')", onmouseout: "$('#deal_#{deal.id}').attr('onclick','Turbolinks.visit(\"#{deal_path(deal)}\")')"
    .user_picture
      %a{ href: user_path(deal.user.username), onmouseover: "$('#deal_#{deal.id}').attr('onclick','')", onmouseout: "$('#deal_#{deal.id}').attr('onclick','Turbolinks.visit(\"#{deal_path(deal)}\")')" }
        = cache([:user, :small_picture, deal.user.id], expires_in: 4.hours) do
          %img{ src: deal.user.small_picture }
    .user_infos
      = t('strings.end_date_only')
      %p.end_date= deal.end_date? ? l(deal.end_date.to_date) : "-"

  - if deal.discount > 50
    .discount{ style: "background: url('#{asset_path('red_discount.png')}')  -3px -2px" }= "#{deal.discount.to_i}%"
  - elsif deal.discount > 25
    .discount{ style: "background: url('#{asset_path('orange_discount.png')}')  -3px -2px" }= "#{deal.discount.to_i}%"
  - else
    .discount= "#{deal.discount.to_i}%"

  .clear_right
  .counts
    %span.likes= deal.up_votes
    %span.reports= deal.down_votes

  .bottom
    = link_to 'Comprar', deal.link, :class => 'go_to_site_button', :target => '_blank', :id => "big_button", onmouseover: "$('#deal_#{deal.id}').attr('onclick','')", onmouseout: "$('#deal_#{deal.id}').attr('onclick','Turbolinks.visit(\"#{deal_path(deal)}\")')"
    - if !deal.partner.blank?
      %a.partner{ href: deals_path+'?partner='+deal.partner.id.to_s, onmouseover: "$('#deal_#{deal.id}').attr('onclick','')", onmouseout: "$('#deal_#{deal.id}').attr('onclick','Turbolinks.visit(\"#{deal_path(deal)}\")')" }
        %img{ src: deal.partner.mini_image_url, alt: deal.partner.name, title: deal.partner.name }
