%div{ class: "top_deal #{index == 0 || index == 3 ? 'first' : ''}" }
  .price_and_discount
    .price
      %span.from= t('strings.from_price', price: number_to_currency(deal.real_price))
      %span.by= t('strings.by_price', price: number_to_currency(deal.price))
  .image
    %a{ href: deal_path(deal) }
      %img{ src: deal.get_image_url }
  
  .details
    %h4= link_to truncate_title(deal.title, 50), deal_path(deal)
    .user_picture
      %a{ href: user_path(deal.user.username) }
        %img{ src: deal.user.facebook_profile_picture('small') }
    .user_infos
      = t('strings.shared_by')
      %br
      = link_to truncate_name(deal.user.name), user_path(deal.user.username)
      %br
      = t('strings.end_date', :end_date => deal.end_date? ? l(deal.end_date.to_date) : "-")

  .discount= "#{deal.discount.to_i}%"
  .clear_right
  .interactions
    %span.love_icon= deal.up_votes
    %span.report_icon= deal.down_votes
