#sem-col
  .ttGlHome
    %h2= t('strings.search_results')
    %form{ :id => "search_form_2", :action => deals_path, :method => "get", :class => "search"}
      .border-input-busca
        = text_field_tag :search, params[:search], :class => "input-tx", :placeholder => 'Pesquisa'
        %input{ :type => "submit", :value => "", :class => "submit search_button" }

  .search_filters
    %ul.quick_filters
      %li= link_to t('search.filters.end_today'), deals_path + "?search_scope=end_today"
      %li= link_to t('search.filters.best'), deals_path + "?search_scope=best_deals"
      %li= link_to t('search.filters.highest_discounts'), deals_path + "?search_scope=highest_discount"
      %li= link_to t('search.filters.most_visited'), deals_path + "?search_scope=most_visited"
      %li= link_to t('search.filters.more_likes'), deals_path + "?search_scope=likes"
      %li= link_to t('search.filters.recent'), deals_path + "?search_scope=recent"
      %li= link_to t('search.filters.categories'), "javascript:;"
    .advanced_filters
      %form{ :id => 'search_form_3', :action => deals_path, :method => 'get', :class => 'search' }
        .price_filter
          = text_field_tag 'price_amount'
          #price_range
        = submit_tag 'Confirmar'

  .list-conteudo#home_list
    - if @deals.blank?
      %h3= @message
    - else
      - @deals.each_with_index do |deal, index|
        = render :partial => 'deals/top_deal', :locals => {:deal => deal, :index => index, :old => false}
    / - if @deals.total_pages == 1 || params[:page].to_i == @deals.total_pages
    /   .old_deals
    /     .ttGlHome
    /       %h2= t('strings.old_deals')
    /     - @old_deals.each_with_index do |old_deal, index|
    /       = render :partial => 'deals/deal', :locals => {:deal => old_deal, :index => index, :old => true}
    .clear
    .paginate
      = will_paginate @deals

:javascript
  $( "#price_range" ).slider({
    range: true,
    min: 0,
    max: 500,
    values: [ 0, 500 ],
    slide: function( event, ui ) {
      console.log(ui.values)
      $("#price_amount").val("$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ]);
    }
  });
  $( "#price_amount" ).val( "$" + $( "#price_range" ).slider( "values", 0 ) + " - $" + $( "#price_range" ).slider( "values", 1 ) );