#col-left
  .ttGlHome
    %h2= t('strings.active_offers')
  .list-conteudo
    - @deals.each_with_index do |deal, index|
      = render :partial => 'deals/deal', :locals => {:deal => deal, :index => index}
    - if @deals.total_pages == 1 || params[:page].to_i == @deals.total_pages
      %a{ :href => "#{deals_path}?show_olders=true" }
        = t('actions.show_olders_deals')
      .pagination
        = will_paginate @deals

#col-right
  .list-box-sidebar#busca-home
    .ttGlHome
      %h2= t('strings.search_options')
      - "Parâmetro: #{params[:search_order]}"
      - "Parâmetro: #{params[:search_city]}"

    %form{ :id => "search_form", :action => deals_path, :method => "get", :class => "search"}
      .border-input-busca
        = text_field_tag :search, params[:search], :class => "input-tx"
        %input{ :type => "submit", :value => "", :class => "submit", :id => 'search_button'}

      .border-input-busca.select
        = select_tag "search_order", search_options(params[:search_order]), :class => 'user-senha'

      .border-input-busca.select
        = select_tag "search_city", search_city_options(params[:search_city]), :class => 'user-senha'

  .list-box-sidebar
    .ttGlHome
      %h2= t('strings.best_offers')

    - @best_deals.each do |deal|
      = render :partial => 'deals/side_deal', :locals => {:deal => deal}

  .list-box-sidebar
    .ttGlHome
      %h2= t('strings.most_commented')

    - @most_comment_deals.each do |deal|
      = render :partial => 'deals/side_deal', :locals => {:deal => deal}

  .list-box-sidebar.sidebar-last
    .ttGlHome
      %h2= t('strings.last_shared')

    - @newest_deals.each do |deal|
      = render :partial => 'deals/side_deal', :locals => {:deal => deal}