#sem-col
  .ttGlHome
    %h2= t('strings.new_deal')
    %h3= t('strings.how_to_share')

  .new_deal_left{ style: "margin-bottom: 1em;" }
    .title= t('strings.quick_share')
    .description= t('strings.quick_share_description').html_safe

    #box-compartilhe_2
      %form{ action: share_deals_path, method: "get.share_offer_url" }
        .border-input-busca
          = text_field_tag :share, params[:share], :title => "Cadastre uma oferta", :placeholder => t('strings.paste_deal_url'), :class => "resetValue input-tx"
          %button#share.submit{ title: "Compartilhar", value: "OK" } OK

    .clear
    
    = cache 'partners_list', expires_in: 1.day do
      .partners_list
        %h4= t('strings.partners')
        = link_to t('strings.all'), partners_path, target: '_blank'

        %ul
          %li
            %a{ href: "http://el2.me/jERr", target: "_blank" }
              %img{ src: '/assets/partners/americanas_small.png', alt: 'Americanas', title: 'Americanas' }
              .percent 1,5%
              / .percent 3%
          %li
            %a{ href: "http://el2.me/wLJW", target: "_blank" }
              %img{ src: '/assets/partners/amomuito_small.png', alt: 'AmoMuito', title: 'AmoMuito' }
              .percent 3,5%
              / .percent 7%
          %li
            %a{ href: "http://el2.me/uKfM", target: "_blank" }
              %img{ src: '/assets/partners/anahickmann_small.png', alt: 'Ana Hickmann', title: 'Ana Hickmann' }
              .percent 5%
              / .percent 10%
          %li
            %a{ href: "http://el2.me/uKr6", target: "_blank" }
              %img{ src: '/assets/partners/brinquedoslaura_small.png', alt: 'Brinquedos Laura', title: 'Brinquedos Laura' }
              .percent 3,5%
              / .percent 7%
          %li
            %a{ href: "http://el2.me/wFbR", target: "_blank" }
              %img{ src: '/assets/partners/bytennis_small.png', alt: 'ByTennis', title: 'ByTennis' }
              .percent 3%
              / .percent 6%
          %li
            %a{ href: "http://el2.me/wPpm", target: "_blank" }
              %img{ src: '/assets/partners/casasbahia_small.png', alt: 'Casas Bahia', title: 'Casas Bahia' }
              .percent 1,5%
              / .percent 3%
          %li
            %a{ href: "http://www.comprafacil.com.br/afiliadoscf", target: "_blank" }
              %img{ src: '/assets/partners/comprafacil_small.png', alt: 'Compra Fácil', title: 'Compra Fácil' }
              .percent 1,5%
              / .percent 3%
          %li
            %a{ href: "http://el2.me/jG1I", target: "_blank" }
              %img{ src: '/assets/partners/dafiti_small.png', alt: 'Dafiti', title: 'Dafiti' }
              / .percent 5%
              .percent 8%
          %li
            %a{ href: "http://el2.me/wFcb", target: "_blank" }
              %img{ src: '/assets/partners/extra_small.png', alt: 'Extra', title: 'Extra' }
              .percent 1,5%
              / .percent 3%
          %li
            %a{ href: "http://el2.me/jG4t", target: "_blank" }
              %img{ src: '/assets/partners/fnac_small.png', alt: 'FNAC', title: 'FNAC' }
              .percent 2,5%
              / .percent 5%
          %li
            %a{ href: "http://el2.me/jG5i", target: "_blank" }
              %img{ src: '/assets/partners/girafa_small.png', alt: 'Girafa', title: 'Girafa' }
              .percent 2,5%
              / .percent 5%
          %li
            %a{ href: "http://el2.me/jG67", target: "_blank" }
              %img{ src: '/assets/partners/giulianaflores_small.png', alt: 'Giuliana Flores', title: 'Giuliana Flores' }
              .percent 5%
              / .percent 10%
          %li
            %a{ href: "http://el2.me/vn7z", target: "_blank" }
              %img{ src: '/assets/partners/kanui_small.png', alt: 'Kanui', title: 'Kanui' }
              .percent 5%
              / .percent 10%
          %li
            %a{ href: "http://el2.me/jG7z", target: "_blank" }
              %img{ src: '/assets/partners/saraiva_small.png', alt: 'Saraiva', title: 'Saraiva' }
              .percent 1,5%
              / .percent 3%
          %li
            %a{ href: "http://el2.me/k7FV", target: "_blank" }
              %img{ src: '/assets/partners/lojasmm_small.png', alt: 'Lojas MM', title: 'Lojas MM' }
              .percent 1,5%
              / .percent 3%
          %li
            %a{ href: "http://el2.me/m6eB", target: "_blank" }
              %img{ src: '/assets/partners/mobly_small.png', alt: 'Mobly', title: 'Mobly' }
              .percent 4%
              / .percent 8%
          %li
            %a{ href: "http://el2.me/jG8h", target: "_blank" }
              %img{ src: '/assets/partners/polishop_small.png', alt: 'Polishop', title: 'Polishop' }
              .percent 2,5%
              / .percent 5%
          %li
            %a{ href: "http://el2.me/wGja", target: "_blank" }
              %img{ src: '/assets/partners/submarino_small.png', alt: 'Submarino', title: 'Submarino' }
              .percent 1,5%
            / .percent 3%
          %li
            %a{ href: "http://el2.me/kN6Q", target: "_blank" }
              %img{ src: '/assets/partners/toymania_small.png', alt: 'Toy Mania', title: 'Toy Mania' }
              .percent 2%
              / .percent 4%
          %li
            %a{ href: "http://el2.me/vn8E", target: "_blank" }
              %img{ src: '/assets/partners/walmart_small.png', alt: 'Walmart', title: 'Walmart' }
              .percent 1,5%
              / .percent 3%

  .new_deal_right
    .title= t('strings.detailed_share')
    
    .ct-inputs-login
      = form_for(@deal) do |f|
        .big_column.left
          %p
            %div
              = f.label :title
            %div
              = f.text_field :title
        .clear
        .small_column.left
          %p
            %div
              = f.label :real_price_mask
            %div
              = f.text_field :real_price_mask, :class => "money"
        .small_column.right
          %p
            %div
              = f.label :price_mask
            %div
              = f.text_field :price_mask, :class => "money"
        .clear
        %p#p_description
          %div
            = f.label :description
          %div
            = cktext_area :deal, :description, :toolbar => 'Basic'
        .clear
        .left.small_column
          %p
            %div
              = f.label :category
            %div
              = f.select :category, Deal.i18n_categories, {:include_blank => 'Selecione'}, :class => 'user-senha'
        .right.small_column
          %p
            %div
              = f.label :end_date
            %div
              / class: "datepicker"
              = f.text_field :end_date, value: l(Date.today), placeholder: 'dd/mm/aaaa', readonly: true
        .clear
        .left.small_column
          %p
            %div
              = f.label :link
            %div
              = f.text_field :link, :placeholder => 'http(s)://'
        .small_column.right
          %p
            %div
              = f.label :image_url
            %div
              = f.text_field :image_url, :placeholder => 'http(s)://'
        .clear
        .left.small_column
          %p
            %div
              = f.label :company
            %div
              = f.text_field :company
        .right.small_column
          %p
            %div
              = f.label :city_id
            %div
              = f.select(:city_id, unsorted_grouped_options_for_select(@cities_state_hash), {:include_blank => 'Selecione'} )

        %br.clear
        = f.submit "", :class => 'bt-confirmar', :id => 'confirm'

  .new_deal_left{ style: "clear: left" }
    .title= t('strings.instructions')
    .step1
      %span= t('strings.steps.one')
      %img{ src: asset_path('steps/step1.png') }
    .step2
      %img{ src: asset_path('steps/step2.png') }
      %span= t('strings.steps.two')
    .step3
      %span= t('strings.steps.three')
      %img{ src: asset_path('steps/step3.png') }
    .step4
      %img{ src: asset_path('steps/step4.png') }
      %span= t('strings.steps.four')
    .step5
      %span= t('strings.steps.five')
      %img{ src: asset_path('steps/step5.png') }
    .clear
    .description{ style: 'font-size: 14pt;' }= t('strings.ready_just_share').html_safe

  .clear

  .ttGlHome
    %h2= t('strings.suggestions')
    %h3= t('strings.suggestions_tip')
    = link_to t('strings.more'), deals_path
  .list-conteudo.best_deals
    - Deal.active.random.limit(4).each_with_index do |deal, index|
      = render :partial => 'deals/small_deal', :locals => {:deal => deal, :index => index }
:plain            
  <script type="text/javascript">
    $(function(){
      $(".money").maskMoney({symbol:"R$ ", decimal:",", thousands:"."})
      $( ".datepicker" ).datepicker({
        showButtonPanel: true, dateFormat: 'dd/mm/yy', minDate: new Date()
      });
    });
  </script>
