#sem-col
  .ttGlHome
    %h2= t('strings.new_deal')
    %h3= t('strings.how_to_share')

  .new_deal_left{ style: "margin-bottom: 1em;" }
    .title= t('strings.quick_share')
    .description= t('strings.quick_share_description').html_safe

    #box-compartilhe_2
      %form{ action: share_deals_path, method: "get.share_offer_url" }
        .border-input-busca
          = text_field_tag :share, params[:share], :title => "Cadastre uma oferta", :placeholder => t('strings.paste_deal_url'), :class => "resetValue input-tx"
          %button#share.submit{ title: "Compartilhar", value: "OK" } OK

    .clear

    = render 'partners'

  .new_deal_right
    .title= t('strings.detailed_share')

    .ct-inputs-login
      = form_for(@deal) do |f|
        .big_column.left
          %p
            %div
              = f.label :title
            %div
              = f.text_field :title
        .clear
        .small_column.left
          %p
            %div
              = f.label :real_price_mask
            %div
              = f.text_field :real_price_mask, :class => "money"
        .small_column.right
          %p
            %div
              = f.label :price_mask
            %div
              = f.text_field :price_mask, :class => "money"
        .clear
        %p#p_description
          %div
            = f.label :description
          %div
            = cktext_area :deal, :description, :toolbar => 'Basic'
        %br
        %br
        .clear
        .left.small_column
          %p
            %div
              = f.label :category
            %div
              = f.select :category, Deal.i18n_categories, {:include_blank => 'Selecione'}, :class => 'user-senha'
        .right.small_column
          %p
            %div
              = f.label :end_date
            %div
              = f.text_field :end_date, value: @deal.end_date.blank? ? l(Date.today + 3.days) : l(@deal.end_date.to_date), placeholder: 'dd/mm/aaaa', readonly: true, class: "datepicker2"
        .clear
        .left.small_column
          %p
            %div
              = f.label :link
            %div
              = f.text_field :link, :placeholder => 'http(s)://'
        .small_column.right
          %p
            %div
              = f.label :image_url
            %div
              = f.text_field :image_url, :placeholder => 'http(s)://'
        .clear
        .left.small_column
          %p
            %div
              = f.label :company
              = link_to 'Outro', 'javascript:;', onclick: "$('#deal_partner').toggle(); $('#deal_company').toggle()"
            %div
              = f.select :partner_id, Partner.all.collect { |p| [p.name, p.id] }, { include_blank: 'Selecione' }, id: 'deal_partner'
              = f.text_field :company, id: 'deal_company'
        .right.small_column
          %p
            %div
              = f.label :city_id
            %div
              = f.select(:city_id, unsorted_grouped_options_for_select(@cities_state_hash), {:include_blank => 'Selecione'} )

        %br
        %br.clear
        = f.submit "", :class => 'bt-confirmar', :id => 'confirm'

  .new_deal_left{ style: "clear: left" }
    .title= t('strings.instructions')
    .step1
      .img
      %span= t('strings.steps.one')
      %img{ src: asset_path('steps/step1.png') }
    .step2
      %img{ src: asset_path('steps/step2.png') }
      .img
      %span= t('strings.steps.two')
    .step3
      .img
      %span= t('strings.steps.three')
      %img{ src: asset_path('steps/step3.png') }
    .step4
      %img{ src: asset_path('steps/step4.png') }
      .img
      %span= t('strings.steps.four')
    .step5
      .img
      %span= t('strings.steps.five')
      %img{ src: asset_path('steps/step5.png') }
    .clear
    .description{ style: 'font-size: 12pt;' }= t('strings.ready_just_share').html_safe

  .clear

  .ttGlHome
    %h2= t('strings.suggestions')
    %h3= t('strings.suggestions_tip')
    = link_to t('strings.more'), deals_path
  .list-conteudo.best_deals
    - Deal.active.random.limit(4).includes(:user).includes(:partner).each_with_index do |deal, index|
      = render :partial => 'deals/small_deal', :locals => {:deal => deal, :index => index }
:plain
  <script type="text/javascript">
    $(function(){
      $(".money").maskMoney({symbol:"R$ ", decimal:",", thousands:"."})
      $(".datepicker2").datepicker({
        showButtonPanel: true,
        dateFormat: 'dd/mm/yy',
        minDate: 0,
        maxDate: "+7D"
      });
    });
  </script>
