.span8
  .main
    .window.medium_window
      #newDealPage.middle.newProfile
        %h1 OfertuS
        %h3 Compartilhe uma oferta preenchendo os campos abaixo e clicando em salvar

        = form_for(@deal) do |f|
          %ol
            %li
              = f.label :title
              = f.text_field :title
            
            %li
              = f.label :kind
              = f.select :kind, Deal.i18n_kinds, {:include_blank => 'Selecione'}, {'data-switcher' => "1:#li_deal_price,#li_deal_real_price||2:#li_deal_price,#li_deal_real_price||3:#li_deal_discount"}

            %li#li_deal_real_price
              = f.label :real_price
              = f.text_field :real_price_mask, :class => "money"

            %li#li_deal_price
              = f.label :price
              = f.text_field :price_mask, :class => "money"

            %li#li_deal_discount
              = f.label :discount
              = f.text_field :discount
              %span.tips
                Somente números
            
            %li
              = f.label :category
              = f.select :category, Deal.i18n_categories, {:include_blank => 'Selecione'}

            %li
              = f.label :description
              = cktext_area :deal, :description, :toolbar => 'Basic'

            %li
              = f.label :end_date
              = f.text_field :end_date, :class => "datepicker"
              %span.tips
                Informe a data no formato dd/mm/aaaa
            
            %li
              = f.label :link
              = f.text_field :link
              %span.tips
                O link deve ser no formato http:// ou https://

            %li
              = f.label :image_url
              = f.text_field :image_url
              %span.tips
                O link deve ser no formato http:// ou https://
              
            %li
              = f.label :company 
              = f.text_field :company
            
            %li
              = f.label :city_id
              = f.select(:city_id, unsorted_grouped_options_for_select(@cities_state_hash), {:include_blank => 'Selecione'})

          / TODO: Transformar o botão igual ao link
          .button
            = f.submit I18n.t("actions.share"), :type=>"image", :src=> asset_path('botao.png'), :alt=> "Confirmar"

.side.span4
  .default_window.white_background
    .title
      %h3 Melhores Ofertas
    
    .content
      .best
        .small_deal
          - @best_deals.each do |deal|
            = render :partial => 'deals/side_deal', :locals => {:deal => deal}  
            
  .default_window.white_background 
    .title 
      %h3 Ofertas Mais Comentadas 

    .content 
      .most_commented 
        .small_deal 
          - @most_comment_deals.each do |deal|  
            = render :partial => 'deals/side_deal', :locals => {:deal => deal}  
            
  .default_window.white_background 
    .title 
      %h3 Últimas Ofertas Compartilhadas 

    .content 
      .newest 
        .small_deal 
          - @newest_deals.each do |deal|  
            = render :partial => 'deals/side_deal', :locals => {:deal => deal}  

:plain            
  <script type="text/javascript">
    $(function(){
      $(".money").maskMoney({symbol:"R$ ", decimal:",", thousands:"."})
      $( ".datepicker" ).datepicker({
        showButtonPanel: true, dateFormat: 'dd/mm/yy', minDate: new Date()
      });
    });
  </script>
