= content_for :page_head do
  = render 'details', deal: @deal
  #header_background

#sem-col
  .clear
  #description_and_comments
    .dc_header{ onclick: "$('.dc_header').hide(); $('.dc_content').slideDown();"}
      %h4= t('strings.description_and_comments', comments_count: @deal.comments.size)
    .dc_content
      = cache [:deal, :description, @deal.id] do
        .desc-off
          %h4= t('strings.description')
          .tx-desc= @deal.description.html_safe


      .right-detalhe-comment-off

        .comment-off
          :plain
            <iframe id="f11731d71" name="f26c05d3b" scrolling="no" style="border: none; overflow: hidden; height: 211px; width: 300px;" class="fb_ltr" src="https://www.facebook.com/plugins/comments.php?api_key=146791075437937&amp;locale=en_US&sdk=joey&channel_url=http://static.ak.facebook.com/connect/xd_arbiter.php?version=18&cb=f38fe6d68&origin=#{root_url}%252Fff23f84d4%26domain=#{request.domain}&relation=parent.parent&numposts=10&width=300&href=#{deal_url(@deal)}"></iframe>

  .clear

  .similar_offers
    .ttGlHome
      %h2= t('strings.similar_offers')
      %h3= t('strings.who_likes_me_also_like_this')
    .list-conteudo.best_deals
      - unless @deal.similar_offers.blank?
        .carousel1
          - @deal.similar_offers.each_with_index do |deal, index|
            = render :partial => 'deals/small_deal', :locals => {:deal => deal, :index => index }
        = link_to 'Anterior', 'javascript:;', :id => 'list_prev1', :class => 'prev'
        = link_to 'Próximo', 'javascript:;', :id => 'list_next1', :class => 'next'

  .more_offers
    .ttGlHome
      %h2= t('strings.more_offers')
    .list-conteudo#home_list
      - Deal.active.random.limit(6).includes(:user).includes(:partner).each_with_index do |deal, index|
        = render :partial => 'deals/top_deal', :locals => {:deal => deal, :index => index }

.clear

:javascript
  $(".carousel1").carouFredSel({
    circular : true,
    infinite : true,
    auto : false,
    prev : "#list_prev1",
    next : "#list_next1",
    scroll : {
      items : 1
    }
  });