= content_for :page_head do
  = render 'details', deal: @deal
  #header_background
  
#sem-col
  .clear

  .desc-off
    %h4= t('strings.description')
    .tx-desc= @deal.description.html_safe
      

  .right-detalhe-comment-off
  
    .comment-off
      %h4= t('strings.comments')
      .tx-desc
        - if can? :manage, @comment
          = form_for([@deal,@comment]) do |f|
            = f.text_area :comment
            = f.submit t("actions.comment"), :class => 'bt-comentar'
        .clear

    #ct-comment-off
      = render @deal.comments

  .clear

  .who_likes
    .ttGlHome
      %h2= t('strings.who_likes')
      %h3= t('strings.which_users_liked')
    .list-conteudo
      - @deal.who_likes.each_with_index do |user, index|
        - if user.provider?
          = link_to(image_tag(user.facebook_profile_picture("normal"), :alt => user.username, :title => user.username), user_path(user.username), :class => "user_picture")
        - else
          = link_to(image_tag(user.gravatar_url(:size => 80), :alt => user.username, :title => user.username), user_path(user.username), :class => "user_picture")

  .similar_offers
    .ttGlHome
      %h2= t('strings.similar_offers')
      %h3= t('strings.who_likes_me_also_like_this')
    .list-conteudo.best_deals
      - unless @deal.similar_offers.blank?
        .carousel1
          - @deal.similar_offers.each_with_index do |deal, index|
            = render :partial => 'deals/small_deal', :locals => {:deal => deal, :index => index }
        = link_to 'Anterior', 'javascript:;', :id => 'list_prev1', :class => 'prev'
        = link_to 'Próximo', 'javascript:;', :id => 'list_next1', :class => 'next'
        

  .more_offers
    .ttGlHome
      %h2= t('strings.more_offers')
    .list-conteudo#home_list
      - Deal.active.random.limit(6).each_with_index do |deal, index|
        = render :partial => 'deals/top_deal', :locals => {:deal => deal, :index => index }

.clear

:javascript
  $(".carousel1").carouFredSel({
    circular : true,
    infinite : true,
    auto : false,
    prev : "#list_prev1",
    next : "#list_next1",
    scroll : {
      items : 1
    }
  });