#sem-col
  .ttGlHome
    %h2= Deal.i18n_category(@deal.category)

  .list-conteudo.detalhe-oferta
    .left.off
      .col-off
        - if @deal.price?
          %h4= t('strings.original_price', :price => number_to_currency(@deal.real_price)).html_safe

        .preco-off
          %h4= t('strings.offer_price', :price => number_to_currency(@deal.price)).html_safe

        %h5= t('strings.discount', :discount => "#{@deal.discount.to_i}%")
        %h5= t('strings.end_date', :end_date => @deal.end_date? ? l(@deal.end_date.to_date) : "-")

    .left.tx-off
      %h3
        %a{ :href => @deal.link, :target => '_blank'}= @deal.title

      .user-off
        - if @deal.user.provider?
          = link_to(image_tag(@deal.user.facebook_profile_picture(:small), :alt => @deal.user.username, :title => @deal.user.username), user_path(@deal.user.username), :class => "user_picture")
        - else
          = link_to(image_tag(@deal.user.gravatar_url(:size => 50), :alt => @deal.user.username, :title => @deal.user.username), user_path(@deal.user.username), :class => "user_picture")
        %h4= t('strings.shared_by')
        %span= link_to @deal.user.name, user_path(@deal.user.username)

      %ul
        %li= t('strings.category', :category => Deal.i18n_category(@deal.category))
        %li= t('strings.company', :company => @deal.company)
        %li= t('strings.city', :city => @deal.city.name)

      .right#go_to_site{ :style => 'width: 210px; margin-right: 70px;' }
        = link_to '', @deal.link, :class => 'go_to_site_button', :target => '_blank', :id => "big_button"

      .share-off
        - if user_signed_in?
          %span.gostei
            - if current_user.up_voted? @deal
              = link_to t('strings.undo_upvote'), unvote_deal_path(@deal)
            - else
              = link_to t('strings.upvote'), upvote_deal_path(@deal)
            = " - #{@deal.up_votes} gostou!"
          %span.nao-gostei
            - if current_user.down_voted? @deal
              = link_to t('strings.undo_downvote'), unvote_deal_path(@deal)
            - else
              = link_to t('strings.downvote'), downvote_deal_path(@deal)
            = " - #{@deal.down_votes} não gostou!"

    .right
      :plain
        <span class='st_facebook'></span>
        <span class='st_twitter'></span>
        <span class='st_plusone'></span>
        <span class='st_googleplus'></span>
        <span class='st_pinterest'></span>
        <span class='st_email'></span>

      - if @deal.image_url && !@deal.image_url.empty?
        = image_tag(@deal.image_url, :alt => @deal.image_url, :title => @deal.title, :size => '10px')
      - else
        / = image_tag(asset_path('no_picture_big.png'), :alt => "Oferta sem imagem", :title => @deal.title, :size => '10px')

  .desc-off
    %h4= t('strings.description')
    .tx-desc= @deal.description.html_safe
      

  .right-detalhe-comment-off
  
    .comment-off
      %h4= t('strings.comments')
      .tx-desc
        - if can? :manage, @comment
          = form_for([@deal,@comment]) do |f|
            = f.text_area :comment
            = f.submit t("actions.comment"), :class => 'bt-comentar'
        .clear

    #ct-comment-off
      = render @deal.comments

  .clear
.clear
/       = render 'shared/add_this'
/           
/             .go_to_website= link_to "Ir para o site", @deal.link, :class => "button", :target => "_blank"
/       
