#col-left
  .ttGlHome
    %h2= t('strings.day_offers')
  .list-conteudo
    - @deals.each_with_index do |deal, index|
      = render :partial => 'deals/deal', :locals => {:deal => deal, :index => index, :old => false}
    - if @deals.total_pages == 1 || params[:page].to_i == @deals.total_pages
      .old_deals
        .ttGlHome
          %h2= t('strings.old_deals')
        - @old_deals.each_with_index do |old_deal, index|
          = render :partial => 'deals/deal', :locals => {:deal => old_deal, :index => index, :old => true}
      .pagination
        = will_paginate @deals

#col-right
  = render 'side'