#col-left
  .ttGlHome
    %h2= t('strings.login')

  .page-login
    %h3= t('strings.fill_fields')
    .fb-login-button
      = link_to t('strings.login_with_facebook'), user_omniauth_authorize_path(:facebook), :class => "facebook_login_button"

    .ct-inputs-login
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        %p
          = f.label :login
          %br
          = f.text_field :login, :class => 'user-senha'
        %p.last
          = f.label :password
          %br
          = f.password_field :password, :class => 'user-senha'
        .clear
        - if devise_mapping.rememberable?
          %p.checkbox-login
            = f.check_box :remember_me
            = f.label :remember_me, t('strings.remember_me')
        / <p class="checkbox-login"><input type="checkbox" value="" name="Checkbox"> Mantenha-me Conectado</p>
        = f.submit '', :class => 'bt-entrar'


    = render :partial => "devise/shared/links"

#col-right
  .list-box-sidebar.sidebar-last
    :plain
      <div class="fb-like-box" data-href="https://www.facebook.com/OfertUs" data-width="292" data-colorscheme="dark" data-show-faces="true" data-stream="true" data-header="true"></div>
.clear

/ :plain
/   <script>
/     $('#user_login').coolinput('username')
/     $('#user_password').coolinput('*****')
/   </script>