#sem-col
  .signup_description
    .ttGlHome
      %h2= t('strings.signup_title')
    .message= t('strings.signup_message')
    = link_to t('strings.login_with_facebook'), user_omniauth_authorize_path(:facebook), :class => "facebook_login_button", :'data-no-turbolink' => true
    .or_background{ style: 'margin-bottom: 20px;' }= t('strings.or')

    .ct-inputs-login
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        %p
          = f.text_field :login, placeholder: t('activerecord.attributes.user.login') + ':'
        %p
          = f.password_field :password, placeholder: t('activerecord.attributes.user.password') + ':'

        .links
          = render :partial => "devise/shared/links"
        
        .clear
        = f.submit '', :class => 'bt-entrar'
        
        - if devise_mapping.rememberable?
          %p.checkbox-login
            = f.check_box :remember_me
            = f.label :remember_me, t('strings.remember_me')
        / <p class="checkbox-login"><input type="checkbox" value="" name="Checkbox"> Mantenha-me Conectado</p>

    .clear


    .clear

  .register
    %span= t('strings.not_a_member')
    = link_to 'CADASTRE-SE', new_user_registration_path
      
.clear