%div{ style: "width: 600px; border: 1px solid #ececec; margin: 20px auto;" }
  = render 'devise/mailer/header'

  %p{ style: 'margin: 15px; font-weight: bold; font-size: 21px; font-family: "Arial";' }= I18n.t('devise.mailer.hello') + ', ' @resource.username

  %p{ style: 'margin: 15px; font-size: 21px; font-family: "Arial";' }= I18n.t('devise.mailer.reset_password_instructions.message')

  = link_to(I18n.t('devise.mailer.reset_password_instructions.reset'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), style: "font-family: 'Arial'; font-size: 14px; margin: 15px;")

  %p{ style: 'margin: 15px; font-size: 21px; font-family: "Arial";' }= I18n.t('devise.mailer.reset_password_instructions.ignore')
  %p{ style: 'margin: 15px; font-size: 21px; font-family: "Arial";' }= I18n.t('devise.mailer.reset_password_instructions.wont_change')
  %p{ style: 'margin: 15px; font-size: 21px; font-family: "Arial";' }= I18n.t('devise.mailer.reset_password_instructions.faq')

  %p{ style: 'margin: 15px; font-size: 21px; font-family: "Arial";' }
    %a{ href: 'http://www.ofertus.com.br/help'} http://www.ofertus.com.br/help
  %p{ style: 'margin: 15px; font-size: 21px; font-family: "Arial";' }
    Atenciosamente,
    %br
    Equipe Ofertus