- if controller_name == 'deals' && action_name ==  'today'
  .icon.cat-item1
    %a{ :href => "/deals/today/computer" }
    %span{ :style => "opacity: 0;" }= Deal.i18n_category(Deal::CATEGORY_COMPUTER)
  .icon.cat-item2
    %a{ :href => "/deals/today/travel" }
    %span= Deal.i18n_category(Deal::CATEGORY_TRAVEL)
  .icon.cat-item3
    %a{ :href => "/deals/today/culture" }
    %span= Deal.i18n_category(Deal::CATEGORY_CULTURE)
  .icon.cat-item4
    %a{ :href => "/deals/today/restaurant" }
    %span= Deal.i18n_category(Deal::CATEGORY_RESTAURANT)
  .icon.cat-item5
    %a{ :href => "/deals/today/home_and_decoration" }
    %span= Deal.i18n_category(Deal::CATEGORY_HOME_AND_DECORATION)
  .icon.cat-item6
    %a{ :href => "/deals/today/home_and_appliance" }
    %span= Deal.i18n_category(Deal::CATEGORY_HOME_AND_APPLIANCE)
  .icon.cat-item7
    %a{ :href => "/deals/today/entertainment" }
    %span= Deal.i18n_category(Deal::CATEGORY_ENTERTAINMENT)
  .icon.cat-item8
    %a{ :href => "/deals/today/car" }
    %span= Deal.i18n_category(Deal::CATEGORY_CAR)
  .icon.cat-item9
    %a{ :href => "/deals/today/beaty_and_health" }
    %span= Deal.i18n_category(Deal::CATEGORY_BEAUTY_AND_HEALTH)
  .icon.cat-item10
    %a{ :href => "/deals/today/clothes" }
    %span= Deal.i18n_category(Deal::CATEGORY_CLOTHES)
  .icon.cat-item11
    %a{ :href => "/deals/today/other" }
    %span= Deal.i18n_category(Deal::CATEGORY_OTHER)
- else
  .icon.cat-item1
    %a{ :href => "/deals/active/computer" }
    %span= Deal.i18n_category(Deal::CATEGORY_COMPUTER)
  .icon.cat-item2
    %a{ :href => "/deals/active/travel" }
    %span= Deal.i18n_category(Deal::CATEGORY_TRAVEL)
  .icon.cat-item3
    %a{ :href => "/deals/active/culture" }
    %span= Deal.i18n_category(Deal::CATEGORY_CULTURE)
  .icon.cat-item4
    %a{ :href => "/deals/active/restaurant" }
    %span= Deal.i18n_category(Deal::CATEGORY_RESTAURANT)
  .icon.cat-item5
    %a{ :href => "/deals/active/home_and_decoration" }
    %span= Deal.i18n_category(Deal::CATEGORY_HOME_AND_DECORATION)
  .icon.cat-item6
    %a{ :href => "/deals/active/home_and_appliance" }
    %span= Deal.i18n_category(Deal::CATEGORY_HOME_AND_APPLIANCE)
  .icon.cat-item7
    %a{ :href => "/deals/active/entertainment" }
    %span= Deal.i18n_category(Deal::CATEGORY_ENTERTAINMENT)
  .icon.cat-item8
    %a{ :href => "/deals/active/car" }
    %span= Deal.i18n_category(Deal::CATEGORY_CAR)
  .icon.cat-item9
    %a{ :href => "/deals/active/beaty_and_health" }
    %span= Deal.i18n_category(Deal::CATEGORY_BEAUTY_AND_HEALTH)
  .icon.cat-item10
    %a{ :href => "/deals/active/clothes" }
    %span= Deal.i18n_category(Deal::CATEGORY_CLOTHES)
  .icon.cat-item11
    %a{ :href => "/deals/active/other" }
    %span= Deal.i18n_category(Deal::CATEGORY_OTHER)