#footer
  #ft-center
    .left
      %h3= t('footer.about')
      %ul
        %li
          %a{ :href => "/pages/whoarewe" }= t('footer.who_are_we')
        %li
          %a{ :href => "/pages/how_it_works" }= t('footer.how_it_works')
        %li
          %a{ :href => "http://blog.ofertus.com.br"}= t('footer.blog')

    .left.cat-left
      %h3= t('footer.categories')
      %ul
        %li
          %a{ :href => "#{today? ? 'deals/today/restaurant' : 'deals/active/restaurant'}" }= Deal.i18n_category(Deal::CATEGORY_RESTAURANT)
        %li
          %a{ :href => "#{today? ? 'deals/today/beauty_and_health' : 'deals/active/beauty_and_health'}" }= Deal.i18n_category(Deal::CATEGORY_BEAUTY_AND_HEALTH)
        %li
          %a{ :href => "#{today? ? 'deals/today/computer' : 'deals/active/computer'}"}= Deal.i18n_category(Deal::CATEGORY_COMPUTER)
        %li
          %a{ :href => "#{today? ? 'deals/today/entertainment' : 'deals/active/entertainment'}" }= Deal.i18n_category(Deal::CATEGORY_ENTERTAINMENT)
        %li
          %a{ :href => "#{today? ? 'deals/today/home_and_appliance' : 'deals/active/home_and_appliance'}" }= Deal.i18n_category(Deal::CATEGORY_HOME_AND_APPLIANCE)
        %li
          %a{ :href => "#{today? ? 'deals/today/travel' : 'deals/active/travel'}" }= Deal.i18n_category(Deal::CATEGORY_TRAVEL)

    .left
      %h3 &nbsp;
      %ul
        %li
          %a{ :href => "#{today? ? 'deals/today/home_and_decoration' : 'deals/active/home_and_decoration'}" }= Deal.i18n_category(Deal::CATEGORY_HOME_AND_DECORATION)
        %li
          %a{ :href => "#{today? ? 'deals/today/clothes' : 'deals/active/clothes'}" }= Deal.i18n_category(Deal::CATEGORY_CLOTHES)
        %li
          %a{ :href => "#{today? ? 'deals/today/culture' : 'deals/active/culture'}" }= Deal.i18n_category(Deal::CATEGORY_CULTURE)
        %li
          %a{ :href => "#{today? ? 'deals/today/car' : 'deals/active/car'}" }= Deal.i18n_category(Deal::CATEGORY_CAR)
        %li
          %a{ :href => "#{today? ? 'deals/today/others' : 'deals/active/others'}" }= Deal.i18n_category(Deal::CATEGORY_OTHER)

    .left.cat-last
      %h3= t('footer.informations')
      %ul
        %li
          %a{ :href => "/pages/help" }= t('footer.help')
      %br

      %h3= t('footer.contact')
      %ul
        %li
          %a{ :href => "http://ofertus.uservoice.com/" }= t('footer.talk_with_us')
        %li
          / %a{ :href => "http://blog.ofertus.com.br"}= t('footer.follow_our_blog')
      %br
      %br
      %br

      %a.crie-perfil{ :href => new_registration_path('user') }= t('footer.signup')
      %a.crie-perfil{ :href => new_session_path('user') }= t('footer.signin')

    .clear

/   .copyright
/     %ul.intern
/       %li &copy;2011 ofertus
/       %li
/         %a{ :href => "/pages/termsofuse" }= I18n.t('actions.terms_of_use')
/       %li
/         %a{ :href => "/pages/privacypolicy" }= I18n.t('actions.privacy_policy')