/ %a#natal_bar{ onclick: "Popup.open_url('#{natal_url}')" } Aproveite! Últimos dias para participar da nossa competição e ganhar um incrível pack! Saiba mais clicando aqui!
#header
  .content
    / .gorro_natal{ onclick: "Popup.open_url('#{natal_url}')" }
    .border
    = cache 'new_logo', expires_in: 1.year do
      %h1.logo
        = link_to 'ofertus', root_path
    .border
    .menu-login
      %ul
        %li
          %a{ :href => deals_path, :class => "deals_header_btn #{ @current_tab == 'deals' ? 'active' : ''}" }
            %span= t('actions.deals')
        %li.border
        %li
          %a{ :href => users_path, :class => "users_header_btn #{ @current_tab == 'deals' ? 'active' : ''}" }
            %span= t('actions.users')
    .border

    / #menu-top
    = render "layouts/toolbar"
    #box-compartilhe
      %form{ action: share_deals_path, method: "get.share_offer_url" }
        .border-input-busca
          = text_field_tag :share, params[:share], :title => "Cadastre uma oferta", :placeholder => t('strings.paste_deal_url'), :class => "resetValue input-tx"
          %button#share.submit{ title: "Compartilhar", value: "OK" } OK

    = link_to 'Saiba Mais', 'javascript:;', class: 'how_it_works', onclick: "$('#how_it_works_tab .content').slideToggle();"

    #search_form_div
      %form{ :id => "search_form", :action => deals_path, :method => "get", :class => "search"}
        .border-input-busca
          = text_field_tag :search, params[:search], :class => "input-tx", :placeholder => 'Pesquisa'

    .border

    .menu-login{ style: 'width: 119px;' }
      = render 'devise/menu/login_items'
    .border
#filters
  .border
    .content
      %ul.filters_options
        %li= link_to Deal.i18n_category(Deal::CATEGORY_COMPUTER), '/deals/active/computer'
        %li= link_to Deal.i18n_category(Deal::CATEGORY_HOME_AND_APPLIANCE), '/deals/active/home_and_appliance'
        %li= link_to Deal.i18n_category(Deal::CATEGORY_CULTURE), '/deals/active/culture'
        %li= link_to Deal.i18n_category(Deal::CATEGORY_CLOTHES), '/deals/active/clothes'
        %li= link_to Deal.i18n_category(Deal::CATEGORY_HOME_AND_DECORATION), '/deals/active/home_and_decoration'
        %li.categories.no_border
          = link_to '+ Categorias', 'javascript:;'#, onclick: "$('#other_categories').slideToggle();"
          %ul#other_categories
            %li.food= link_to Deal.i18n_category(Deal::CATEGORY_RESTAURANT), '/deals/active/restaurant'
            %li.beauty= link_to Deal.i18n_category(Deal::CATEGORY_BEAUTY_AND_HEALTH), '/deals/active/beauty_and_health'
            %li.car= link_to Deal.i18n_category(Deal::CATEGORY_CAR), '/deals/active/car'
            %li.entertainment= link_to Deal.i18n_category(Deal::CATEGORY_ENTERTAINMENT), '/deals/active/entertainment'
            %li.travel= link_to Deal.i18n_category(Deal::CATEGORY_TRAVEL), '/deals/active/travel'
            %li.other= link_to Deal.i18n_category(Deal::CATEGORY_OTHER), '/deals/active/others'
        %li.price.no_border
          = link_to t('search.filters.price'), 'javascript:;'#, onclick: "$('#options_price').slideToggle();"
          %ul#options_price
            %li= link_to 'R$ 1,00 à R$ 50,00', '/deals?price_range=R$1+-+R$50'
            %li= link_to 'R$ 50,00 à R$ 100,00', '/deals?price_range=R$50+-+R$100'
            %li= link_to 'R$ 100,00 à R$ 200,00', '/deals?price_range=R$100+-+R$200'
            %li= link_to 'R$ 200,00 à R$ 500,00', '/deals?price_range=R$200+-+R$500'
            %li= link_to 'R$ 500,00 à R$ 1.000,00', '/deals?price_range=R$500+-+R$1000'
            %li= link_to '+ R$ 1.000,00', "/deals?price_range=R$1000+-+R$#{Deal.maximum(:price).to_i}"
        %li.discount.no_border
          = link_to t('search.filters.discount'), 'javascript:;'#, onclick: "$('#options_discount').slideToggle();"
          %ul#options_discount
            %li.little
              %a{ href: '/deals?discount_range=1+-+24' }
                .img
                %span 1% - 24%
            %li.medium
              %a{ href: '/deals?discount_range=25+-+49' }
                .img
                %span 25% - 49%
            %li.higher
              %a{ href: '/deals?discount_range=51+-+100' }
                .img
                %span 51% - 100%
        %li.partners.no_border
          = link_to t('search.filters.partners'), 'javascript:;'#, onclick: "$('#options_partners').slideToggle();"
          %ul#options_partners
            - Partner.active.each do |p|
              %li
                %a{ href: deals_path+'?partner='+p.id.to_s }
                  %img{ src: p.mini_image_url, title: p.name, alt: p.name }

.clear_header_fix