/ %a#natal_bar{ onclick: "Popup.open_url('#{natal_url}')" } Aproveite! Últimos dias para participar da nossa competição e ganhar um incrível pack! Saiba mais clicando aqui!
#header
  .content
    / .gorro_natal{ onclick: "Popup.open_url('#{natal_url}')" }
    .border
    = cache 'logo', expires_in: 1.year do
      %h1.logo
        = link_to 'ofertus', root_path
    .border
    .menu-login
      %ul
        %li
          %a{ :href => deals_path, :class => "deals_header_btn #{ @current_tab == 'deals' ? 'active' : ''}" }
            %span= t('actions.deals')
        %li.border
        %li
          %a{ :href => users_path, :class => "users_header_btn #{ @current_tab == 'deals' ? 'active' : ''}" }
            %span= t('actions.users')
    .border

    #menu-top
      = render "layouts/toolbar"

    .menu-login
      = render 'devise/menu/login_items'
.clear_header_fix