#how_it_works_tab
  .content
    %h1= t('how_it_works.tab.title')
    .side
      .img.deals_img
      %h1= t('how_it_works.tab.earn_discounts')
      .text= t('how_it_works.tab.side1')
      = link_to 'Ver Ofertas', deals_path, class: 'deals_btn'
    .center
      %h1= t('how_it_works.tab.or')
    .side{ style: 'float: right;' }
      .img.money_img
      %h1= t('how_it_works.tab.earn_money')
      .text= t('how_it_works.tab.side1')
      = link_to 'Ver Mais', how_it_works_path, class: 'how_btn'
    = link_to 'Fechar', 'javascript:;', id: 'close_hiw_btn', onclick: "$('#how_it_works_tab .content').slideUp(); $('#open_hiw_btn').show();"
  = link_to 'Entenda', 'javascript:;', id: 'open_hiw_btn', onclick: "$('#open_hiw_btn').hide(); $('#how_it_works_tab .content').slideDown();"