%ul
  %li= link_to t('actions.home'), root_path, :class => "#{ @current_tab == 'active_deals' ? 'active' : ''}"
  %li= link_to t('actions.today_offers'), deals_today_path, :class => "#{@current_tab == 'today_deals' ? 'active' : ''}"
  %li= link_to t('actions.search_users'), users_path, :class => "#{@current_tab == 'users' ? 'active' : ''}"
  %li= link_to t('actions.how_it_works'), how_it_works_path, :class => "#{@current_tab == 'pages' ? 'active' : ''}"
  %li= link_to t('actions.blog'), 'http://blog.ofertus.com.br', :class => "#{@current_tab == 'posts' ? 'active' : ''}", :target => '_blank'
  %li= auto_discovery_link_tag :atom, "/feed"
  %li= auto_discovery_link_tag :rss, "/feed.rss"