<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <title><%= title %></title>

    <!-- TODO: META -->
    <meta charset="utf-8">
    <meta name="google-site-verification" content="PoXbmn7wjd5Z5O4kR5hTXHdvVeuwP-L5wFbLVk3gUDk" />
    <meta http-equiv="X-UA-Compatible" content="IE=8,FF=3,OtherUA=4,chrome=1">
    <meta http-equiv="content-style-type" content="text/css" />
    <meta name="keywords" content="serviços, produtos, satisfação, consumidores, clientes, ofertas, descontos, compartilhar, opniões, avaliações, dicas, dúvidas, fórum.  " />
    <meta name="description" 	content="<%= description %>" />
    <meta name="author" content="Ofertus" />
    <meta name="gwt:property"	content="locale=pt_BR" />
    <meta name="gwt:property"	content="cityZero=1" />
    <meta name="google-site-verification" content="-8kM4fbW8HeMpYmGMeoVoiCUkOywzHOEy1tSeIcLgX0" />  
    <meta name="logged" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->        
    <!-- /META -->

    <link rel="icon" href="http://www.ofertus.com.br/favicon.png" />
    <link rel="shortcut icon" href="http://www.ofertus.com.br/favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

    <!-- SCRIPTS -->
    <!-- <%= airbrake_javascript_notifier %> -->
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" , :media => "screen"%>
    <!-- /SCRIPTS -->

    <%= csrf_meta_tags %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29796484-1']);
      _gaq.push(['_setDomainName', 'ofertus.com.br']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <script type="text/javascript">var switchTo5x=false;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ca6f793f-ed2a-4a14-be8d-3cb1862cb8ae"}); </script>
  </head>

  <body id="inicio">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=146791075437937";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <%= render 'layouts/header' %>

    <%= yield :page_head %>

    <div class='clear'>
    </div>

    <div id="all">
      <div class='content'>
        <!--  CORPO -->
        <div id="main">
           <!-- TODO: FLASH -->
          <%- flash.each do |name, msg| -%>
            <% if name == :error %>
              <div class="alert error" style="opacity: 1; " id="flash_error" ><p><%= msg %></p></div>
            <% end %>
            <% if name == :alert %>
              <div class="alert notice" style="opacity: 1; " id="flash_warning" ><p><%= msg %></p></div>
            <% end %>
            <% if name == :notice %>
              <div class="alert success" style="opacity: 1; " id="flash_notice" ><p><%= msg %></p></div>
            <% end %>
          <%- end -%>
      
          <%= yield %>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>

    <div id="blocker" onclick='Popup.close();'>
    </div>
    <div id="popup">
      <div class="main_popup">
      </div>
    </div>
    <!--  RODAPÉ -->
      
    <!-- User Voice -->
    <script type="text/javascript">
      var uvOptions = {default_mode: 'ideas'};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/KhjBP9Wz0hWPZKkPOj6DbQ.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
    <!-- User Voice -->
    
    <!-- Coloque esta chamada de renderização conforme necessário -->
    <script type="text/javascript">
      window.___gcfg = {lang: 'pt-BR'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>

  </body>
</html>