<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="pt-br" dir="ltr" xml:lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= title %></title>

    <!-- TODO: META -->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta name="keywords" content="serviços, produtos, satisfação, consumidores, clientes, ofertas, descontos, compartilhar, opniões, avaliações, dicas, dúvidas, fórum.  " />
    <meta name="description" 	content="Compartilhe, descubra, comente e opine sobre ofertas com seus amigos no OfertuS." />
    <meta name="author" content="OfertuS" />
    <meta name="gwt:property"	content="locale=pt_BR" />
    <meta name="gwt:property"	content="cityZero=1" />
    <!-- /META -->

    <link rel="icon" href="http://www.ofertus.com.br/imagens/favicon.png" />
    <link rel="shortcut icon" href="http://www.ofertus.com.br/imagens/favicon.ico" />

    <!-- SCRIPTS -->
    <!-- <%= airbrake_javascript_notifier %> -->
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="http://cdn.sublimevideo.net/js/tjphqilu.js"></script>
    <%= stylesheet_link_tag "application" , :media => "screen"%>
    <!-- /SCRIPTS -->

    <%= csrf_meta_tags %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29796484-1']);
      _gaq.push(['_setDomainName', 'ofertus.com.br']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body id="inicio">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="page">
      <div id="header" class="container-fluid" >
        <!-- TODO: Menu -->
				<%= render 'layouts/toolbar' %>

        <!-- TODO: CATEGORIAS -->
        <%= render 'layouts/logo_header' %>

        <%= render 'layouts/categories_menu_bar' %>
      </div>

      <!--  CORPO -->
      <div id="body">
         <!-- TODO: FLASH -->
        <%- flash.each do |name, msg| -%>
          <% if name == :error %>
            <div class="alert alert-error" style="opacity: 1; " id="flash_error" ><p><%= msg %></p></div>
          <% end %>
          <% if name == :alert %>
            <div class="alert alert-info" style="opacity: 1; " id="flash_warning" ><p><%= msg %></p></div>
          <% end %>
          <% if name == :notice %>
            <div class="alert alert-success" style="opacity: 1; " id="flash_notice" ><p><%= msg %></p></div>
          <% end %>
        <%- end -%>

        <%= render 'layouts/cta_americanas' %>
    
        <div class="container-fluid">
          <div class="row-fluid">
            <%= yield %>
          </div>
        </div>
      </div>

      <!--  RODAPÉ -->
      <%= render 'layouts/footer' %>

      <div id="blocker">
      </div>
      <div id="popup">
        <div class="main_popup">
        </div>
      </div>
    </div>
  </div>

  <!-- User Voice -->
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/KhjBP9Wz0hWPZKkPOj6DbQ.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>
  <!-- User Voice -->
  
  <script>
    $('#share').coolinput('Copie a url da oferta aqui para compartilhar!');
  </script>
  
  <!-- Coloque esta chamada de renderização conforme necessário -->
  <script type="text/javascript">
    window.___gcfg = {lang: 'pt-BR'};

    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>

  </body>
</html>