<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <title><%= title %></title>

    <!-- TODO: META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8,FF=3,OtherUA=4,chrome=1">
    <meta http-equiv="content-style-type" content="text/css" />
    <meta name="keywords" content="serviços, produtos, satisfação, consumidores, clientes, ofertas, descontos, compartilhar, opniões, avaliações, dicas, dúvidas, fórum.  " />
    <meta name="description" 	content="Compartilhe, descubra, comente e opine sobre ofertas com seus amigos no OfertuS." />
    <meta name="author" content="OfertuS" />
    <meta name="gwt:property"	content="locale=pt_BR" />
    <meta name="gwt:property"	content="cityZero=1" />
    <meta name="author" content="">
    <meta name="google-site-verification" content="-8kM4fbW8HeMpYmGMeoVoiCUkOywzHOEy1tSeIcLgX0" />  
    <meta name="logged" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->        
    <!-- /META -->

    <link rel="icon" href="http://www.ofertus.com.br/imagens/favicon.png" />
    <link rel="shortcut icon" href="http://www.ofertus.com.br/imagens/favicon.ico" />

    <!-- SCRIPTS -->
    <!-- <%= airbrake_javascript_notifier %> -->
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="http://cdn.sublimevideo.net/js/tjphqilu.js"></script>
    <%= stylesheet_link_tag "application" , :media => "screen"%>
    <!-- /SCRIPTS -->

    <%= csrf_meta_tags %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29796484-1']);
      _gaq.push(['_setDomainName', 'ofertus.com.br']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body id="inicio">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="all">
      <div id="header">
        <div id="menu-top">
          <%= render "layouts/toolbar" %>
        </div>

        <h1 class="logo">
          <%= link_to 'ofertus', root_path %>
        </h1>
        <div id="menu-login">
          <%= render 'devise/menu/login_items' %>
        </div>

        <div id="icon-redes">
          <a href="" class="bt-face"></a>
          <a href="" class="bt-twitter"></a>
          <a href="" class="bt-google"></a>
        </div>
        <a href="javascript:;" class="bt-compartilhe-off"></a>
      </div><!--/header-->
      <div id="box-compartilhe">
        <div class="border-input-busca">
          <input type="text" value="copie a url da ofertas aqui para compartilhar!" class="resetValue input-tx" />
          <input type="submit" value="Ok" class="submit" />
        </div>
        <div class="clear"></div>
      </div>
      <div id="categorias-home">
        <%= render 'layouts/categories_menu_bar' %>
        <div class="clear"></div>
      </div>

      <!--  CORPO -->
      <div id="main">
         <!-- TODO: FLASH -->
        <%- flash.each do |name, msg| -%>
          <% if name == :error %>
            <div class="alert alert-error" style="opacity: 1; " id="flash_error" ><p><%= msg %></p></div>
          <% end %>
          <% if name == :alert %>
            <div class="alert alert-info" style="opacity: 1; " id="flash_warning" ><p><%= msg %></p></div>
          <% end %>
          <% if name == :notice %>
            <div class="alert alert-success" style="opacity: 1; " id="flash_notice" ><p><%= msg %></p></div>
          <% end %>
        <%- end -%>
    
        <%= yield %>
        <div class="clear"></div>
      </div>

      <!--  RODAPÉ -->
      <%= render 'layouts/footer' %>

      <div id="blocker">
      </div>
      <div id="popup">
        <div class="main_popup">
        </div>
      </div>
    </div>
  </div>

  <!-- User Voice -->
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/KhjBP9Wz0hWPZKkPOj6DbQ.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>
  <!-- User Voice -->
  
  <script>
    $('#share').coolinput('Copie a url da oferta aqui para compartilhar!');
  </script>
  
  <!-- Coloque esta chamada de renderização conforme necessário -->
  <script type="text/javascript">
    window.___gcfg = {lang: 'pt-BR'};

    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>

  </body>
</html>